<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="news" data-dep2="press" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Press Release</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <table class="table table-view">
                        <colgroup>
                            <col width="140">
                            <col>
                            <col width="140">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th colspan="4" class="text-left tit">Sharing Experiences from Gender Policies and Online Violence against Women in South Korea and Asia</th>
                            </tr>
                            <tr>
                                <th class="text-left">Date</th>
                                <td class="text-left">2021</td>
                            </tr>
                            <tr>
                                <th class="text-left">Fiil</th>
                                <td class="text-left"><a href="" class="text-underline">[KWDI]_Press_Release_(AP_Forum)_191127.docx [ 65.84 KB ]</a> ( 223.43 KB )</td>
                            </tr>
                            <tr>
                                <td class="text-left" colspan="4">
                                    <div class="viewwrap">

                                        <p></p>
                                        <p>Sharing Experiences from Gender Policies and Online Violence against Women in South Korea and Asia: Exploring ways to Achieve Gender Equality in the
                                            Asia-Pacific Region</p>

                                        <p>&nbsp;</p>

                                        <p>Korean Women's Development Institute, UN Women, Ministry of Gender Equality and Family of the Republic of Korea hosts the 11th Asia-Pacific Forum on
                                            Development and Gender</p>
                                        <p></p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right mt-5">
                        <a href="" class="btn btn-primary btn-lg">RETURN</a>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>