<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="issues" data-dep2="inKorea" data-dep3="implementation">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Implementation Basis <br>
                            on Gender Equality Policy</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="bg-animation">
                    <div class="container">
                        <span class="obj-3" data-150-start="top: 900px;" data-0-end="top:780px"></span>
                    </div>
                </div>
                <div class="container">
                    <div class="implementation">
                        <div class="top-text">
                            <p>
                                In 1995, 「<b>Framework Act on Women’s Development</b>」 was enacted in order to promote gender equality in all
                                areas of politics, economy, society, and culture to promote women’s development. Since 1998, development of the <b>Framework Plan on Gender Equality Policies</b> has been
                                established and carried
                                out the basic direction and goal of women’s policy. Since then, the paradigm of women’s policy has shifted from
                                ‘development of women’ to ‘realization of gender equality’. With the aim of securing gender equality rights,
                                strengthening accountability of the government, and enhancing the system of promoting gender equality,
                                「<b>Framework Act on Women’s Development</b>」 was revised to 「<b>Framework Act on Gender Equality</b>」.
                            </p>
                        </div>
                        <div class="row row-60">
                            <div class="col-12 col-lg-4">
                                <div class="enforcement">
                                    <h3><span>LAW</span></h3>
                                    <ul>
                                        <li>「<span>Framework Act on Women’s Development</span>」, 1995</li>
                                        <li>Act on the Prohibition and Remedy for Sexual Discrimination, 1999 (Abolished in 2005)</li>
                                        <li>「<span>Framework Act on Gender Equality</span>」, 2014(Full Revision on Framework Act on Women’s Development)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="enforcement">
                                    <h3><span>PLAN</span></h3>
                                    <ul>
                                        <li>Establishment of Women’s Development Division in the 6th Five-year Economic and Social Development Plan(1987~1991)</li>
                                        <li>The First Framework Plan on Gender Equality Policies (1998~2002)</li>
                                        <li>The Second Framework Plan on Gender Equality Policies (2003~2007)</li>
                                        <li>The Third Framework Plan on Gender Equality Policies (2008~2012)</li>
                                        <li>The Fourth Framework Plan on Gender Equality Policies (2013~2014)</li>
                                        <li>The First Master Plans for Gender Equality Policies (2015~2017)</li>
                                        <li>The Second Master Plans for Gender Equality Policies (2018~2022)</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="enforcement">
                                    <h3><span>IMPLEMENTING INSTITUTION</span></h3>
                                    <ul>
                                        <li>Establishment of the Women’s Policy Review Committee under the Prime Minister’s Office, 1983</li>
                                        <li>Appointed the Second Minister of State for Political Affairs, 1988</li>
                                        <li>Establishment of the Presidential Commission on Women’s Affair, 1998</li>
                                        <li>Establishment of the Ministry of Gender Equality, 2001</li>
                                        <li>Establishment of the Gender Equality and Family, 2005</li>
                                        <li>Inauguration of the Ministry of Gender Equality, 2008</li>
                                        <li>Inauguration of the Ministry of Gender Equality and Family, 2010</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bot-text">
                            <p>
                                Korean Women’s Development Institution Fostered Ways to <b>Planning and Enactment of Legislations, Performing Basic Research for Establishing Promotional System</b> for Gender Equality and Providing Basic Foundation for <b>Establishing a Gender Equality Policy Implementation System</b>.
                            </p>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>