<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="issues" data-dep2="inKorea" data-dep3="prevention">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Prevention Policy <br>
                            on Gender Violence</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="bg-animation">
                    <div class="container">
                        <span class="obj-2" data-100-start="top:10px;" data-0-end="top:-150px;"></span>
                        <span class="obj-8" data-550-start="top:200px;" data-0-end="top: 100px;"></span>
                        <span class="obj-9" data-1000-start="top:1700px;" data-0-end="top:1600px;"></span>
                    </div>
                </div>
                <div class="container">
                    <div class="prevention">
                        <div class="top-text">
                            <p>
                                In the 1990s, anti-gender violence groups have publicized women’s violence, which has been concealed as a private matter as a social issue. As a result, the Korean government enacted the 「 Act on Punishment of Sexual Crimes and Protection of Victims thereof 」 in 1994 to enact laws to punish and protect victims of sexual violence, domestic violence and prostitution. Moreover, the government has been promoting policies to prevent gender violence such as establishment of protection and support system for survivors and giving out gender violence prevention education.
                            </p>
                        </div>
                        <h3 class="sub-title-point">Related Laws and Action Plans</h3>
                        <div class="related">
                            <div class="row">
                                <div class="col-auto">
                                    <h4>2021s</h4>
                                </div>
                                <div class="col">
                                    <ol>
                                        <li><span>1994</span> <p>「 Act on the Punishment of Sexual Crimes and Protection of Victims Thereof 」 (Abolished in 2011)</p></li>
                                        <li><span>1997</span> <p>「 Act on Special Cases Concerning the Punishment, Etc. of Crimes of Domestic Violence 」</p></li>
                                        <li><span>1997</span> <p>「 Act on the Prevention of Domestic Violence and Protection, Etc. of Victims 」</p></li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <h4>2000s</h4>
                                </div>
                                <div class="col">
                                    <ol>
                                        <li><span>2000</span> <p>「 Act on the Protection of Juveniles Against Sex Offenses 」</p></li>
                                        <li><span>2002</span> <p> Announcement on the Comprehensive Action Plan on Eradicating Domestic and Sexual Violence</p></li>
                                        <li><span>2004</span> <p>「 Act on the Prevention of Commercial Sex Acts and Protection, Etc. of Victims 」</p></li>
                                        <li><span>2004</span> <p> Announcement of the Comprehensive Action Plan to Prevent Prostitution</p></li>
                                        <li><span>2004</span> <p>「 Act on The Punishment of Arrangement of Commercial Sex Acts. Etc. 」</p></li>
                                    </ol>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-auto">
                                    <h4>1990s</h4>
                                </div>
                                <div class="col">
                                    <ol>
                                        <li><span>2010</span> <p>「 Act on the Protection of Children and Juveniles Against Sex Offenses 」 (Amended from Act on the Protection of Juveniles Against Sex Offenses)</p></li>
                                        <li><span>2010</span> <p>「 Act on Special Cases Concerning the Punishment, Etc. of Sexual Crimes 」</p></li>
                                        <li><span>2010</span> <p>「 Sexual Violence Prevention and Victims Protection Act 」</p></li>
                                        <li><span>2011</span> <p> Announcement on the Comprehensive Action Plan to Prevent Domestic Violence</p></li>
                                        <li><span>2012</span> <p> Announcement on the Comprehensive Action Plan to Prevent Domestic and Sexual Violence</p></li>
                                        <li><span>2013</span> <p> Announcement on the Comprehensive Action Plan to Prevent Domestic Violence</p></li>
                                        <li><span>2015</span> <p> Announcement on the Action Plan to Eradicate Sexual Violence Using Superior Position</p></li>
                                        <li><span>2017</span> <p> Announcement on the Comprehensive Action Plan to Prevent Digital Sexual Crimes</p></li>
                                        <li><span>2018</span> <p> Announcement on the Action Plan to Eradicate Sexual Harassment and Sexual Violence in the Public Sector</p></li>
                                        <li><span>2018</span> <p> Announcement on the Comprehensive Action Plan to Prevent Stalking and Dating Violence</p></li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                        <h3 class="sub-title-point">Gender Violence Policy</h3>
                        <div class="row row-60">
                            <div class="col-12 col-lg-4">
                                <div class="enforcement">
                                    <h3><span>PREVENTION</span></h3>
                                    <ul>
                                        <li>Conduct Preventive Education on Prostitution · Sexual Assault · Domestic Violence in Public Institutions</li>
                                        <li>Conduct “Violence Prevention Education Visits” on General Public</li>
                                        <li>Conduct “Human Rights of Gender and Sexuality” education for children and adolescents which integrates sexual education and violence prevention education</li>
                                        <li>Established Professional Agency for Child and Adolescent Sexual Education to foster healthy gender values for them</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="enforcement">
                                    <h3><span>PROTECTION·SUPPORT</span></h3>
                                    <ul>
                                        <li>Operate 24-hour report and counseling Hot-Line</li>
                                        <li>Provide survivors’ accommodation and care facilities</li>
                                        <li>Provide survivors’ medical support</li>
                                        <li>Assist survivor’s recovery</li>
                                        <li>Provide free legal assistance for survivors (consultation and rescue)</li>
                                        <li>Foster self-support for survivors such as providing job training and etc</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="enforcement">
                                    <h3><span>INVESTIGATION·PUNISHMENT</span></h3>
                                    <ul>
                                        <li>Support survivors with public defenders</li>
                                        <li>Foster and support statement-aid assistants dedicated for sexual violence survivor</li>
                                        <li>Appoint judges, prosecutor, and police officers exclusively dedicated to dealing with sexual violence</li>
                                        <li>Institutionalize the early response system for domestic violence such as temporary measures, restraining order and on-spot investigation</li>
                                        <li>Disclose and Inform the personal information of a sex offender</li>
                                        <li>Operate anti-recidivism education on sexual offenders</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="bot-text">
                            <p>
                                Korean Women’s Development Institute publicized gender violence issues and established comprehensive measures at the government level and systemized survivor support services. Moreover, we also proposed an operating system for prevention and recidivism of gender violence. In addition, we also prepared countermeasures against various gender violence issues such as stalking, dating violence.
                            </p>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>