@include media-breakpoint-down(lg) {
    a,
    a:hover,
    a:focus{text-decoration: none;}
    *:focus{outline: none;}
}
@include media-breakpoint-down(md) {
    body{font-size: 14px;}
}

[class^=icon-]{display: inline-block;background-size: contain;background-repeat: no-repeat;background-position: 0 0;font-style: normal;font-size: 0;line-height: 1;}
.icon-x{background-image: url('../images/icon-x.svg');width: 22px;height: 22px;}
.icon-x-white{background-image: url('../images/icon-x-white.svg');width: 22px;height: 22px;}
.icon-modal-close{background-image: url('../images/icon-modal-close.svg');width: 20px;height: 20px;}
.icon-close{background-image: url('../images/icon-close.png');width: 24px;height: 24px;}
.icon-plus-white{background-image: url('../images/icon-plus-white.svg');width: 14px;height: 14px;}
.icon-hamburger{background-image: url('../images/icon-hamburger.svg');width: 30px;height: 30px;}
.icon-search{background-image: url('../images/icon-search.svg');width: 30px;height: 30px;}
.icon-search-white{background-image: url('../images/icon-search-white.svg');width: 28px;height: 28px;}
.icon-home{background-image: url('../images/icon-home.svg');width: 22px;height: 22px;}

.icon-arrow-left{display: inline-block;width: 12px;height: 12px;border-top: 2px solid #000;border-right: 2px solid #000;transform: rotate(-135deg);border-radius: px;vertical-align: middle;}
.icon-arrow-right{display: inline-block;width: 12px;height: 12px;border-top: 2px solid #000;border-right: 2px solid #000;transform: rotate(45deg);border-radius: 1px;vertical-align: middle;}
.icon-arrow-down{display: inline-block;width: 12px;height: 12px;border-top: 2px solid #fff;border-right: 2px solid #fff;transform: rotate(90deg);border-radius: 1px;vertical-align: middle;}

.font-12px{font-size: 12px !important;}
.font-14px{font-size: 14px !important;}
.font-16px{font-size: 16px !important;}
.font-18px{font-size: 18px !important;}

.min-width-100px{min-width: 100px;}

button{border-radius: 0;border: 0;padding: 0;margin: 0;background: transparent;}

.btn-round{border-radius: 50rem;}
@include media-breakpoint-down(md) {
    .btn-xl{padding-top: .75rem;padding-bottom: .75rem;}
    .btn,
    .btn-lg{font-size: 13px;}
}

textarea{
    resize: none!important;
}

.custom-select-light{
    color: #fff;
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='5' viewBox='0 0 8 5'%3e%3cpath fill='%23fff' d='M4,5L0,0h8L4,5z'/%3e%3c/svg%3e") right 0.75rem center/8px 10px no-repeat;
}

.custom-checkbox.without-label{
    padding-left: 0;min-height: 1rem;font-size: 0;
    .custom-control-input{width: 1rem;height: 1rem;}
    .custom-control-label::before{left: 0;}
    .custom-control-label::after{left: 0;}
}

.checkbox-inline{
    position: relative;cursor: pointer;padding-top: 0!important;min-height: 16px;line-height: 16px;padding-left: 25px;margin-bottom: 0;
    input{
        position: absolute;top: 0;bottom: 0;width: 16px;height: 16px;left: 0;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;appearance:none;
        &:before{
            content: '';display: inline-block;width: 16px;height: 16px;background: #fff;position: absolute;border: 1px solid $input-border-color;transition: all .2s;
        }
        &:after{
            content: '';position: absolute;width: 16px;height: 16px;left: 0;right: 0;text-align:center;
        }
        &:checked:before{
            background: $primary;border-color: $primary;
        }
        &:checked:after{
            content: '\2713';color: #fff;
        }
    }
    &.without-label{padding-left: 16px;}
    &.radio input{
        &:before{
            border-radius: 50%;
        }
        &:after{
            width: 6px;height: 6px;border-radius: 50%;left: 5px;top: 5px;
        }
        &:checked:after{
            content: '';background: #fff;
        }
    }
}

.form-datepicker{
    background: url('../images/icon-calendar.svg') no-repeat .7rem 50%;padding-left: 4rem;
}

.datepicker-box{
    position: absolute;left: 430px;top: 0;
    border-radius: 8px;
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    overflow: hidden;
    .ui-widget.ui-datepicker{border: 0;}
}
.ui-widget.ui-datepicker{
    width: 300px;padding: 1rem;border-radius: .25rem;border-color: $input-border-color !important;
    .ui-widget-header{background: #fff;border: 0;}
    .ui-state-default{border: 0;}
    td span,
    td a{text-align: center;border-radius: 10px;padding: 6px 2px 0;margin: 0 2px;width: 31px;height: 31px;}
    .ui-state-highlight{background: $light;color: #000;}
    .ui-state-active{background: $primary;color: #fff !important;}
    .ui-datepicker-calendar{
        > thead th{border-top: 1px solid #ececea;border-bottom: 1px solid #ececea;}
        > thead th.ui-datepicker-week-end:first-child,
        > tbody td.ui-datepicker-week-end:first-child a{color: $danger;}
        > tbody tr:first-child a,
        > tbody tr:first-child span{margin-top: 8px;}
    }
    .ui-datepicker-prev{
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 7px 5px 0;border-color: transparent $primary transparent transparent;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
    }
    .ui-datepicker-next{
        .ui-icon{display: none;}
        &::before{content: '';display: inline-block;width: 0;height: 0;border-style: solid;border-width: 5px 0 5px 7px;border-color: transparent transparent transparent $primary;position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);}
    }
    select.ui-datepicker-month,
    select.ui-datepicker-year{width: auto;border: 0;}
    select.ui-datepicker-month{margin-left: 12px;}
}

textarea.form-control{resize: none;}


@include media-breakpoint-down(md) {
    .custom-select,
    .form-control,
    .form-control-lg{font-size: 13px;padding-left: .75rem;}
}

@function arrow($direction, $color:212222) {
    $iconList: (
        down: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.419' height='8'%3E%3Cpath d='m218.678 92.151 5.419 5.419-5.419 5.419 1.29 1.29 6.71-6.71-6.71-6.71z' transform='rotate(90 161.479 -57.199)' fill='%23#{$color}'/%3E%3C/svg%3E%0A"
    );
    $icon: map-get($iconList, $direction);
    @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}


.pagination{
    margin-top: 60px;justify-content:center; width:100%;
    .page-link{width: 48px;height: 48px;padding: 0;display: flex;align-items: center;justify-content: center;}
}
@include media-breakpoint-down(md) {
    .pagination{margin-top: 30px;
        .page-link{width: 32px;height: 32px;padding: 0;}
    }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url('../images/icon-arrow-left.svg');background-size: contain;width: 12.8px;height: 23px;margin-top: -11.5px;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image: url('../images/icon-arrow-right.svg');background-size: contain;width: 12.8px;height: 23px;margin-top: -11.5px;
}

.tab-custom{
    border-bottom: 1px solid #ededed;
    .nav-tabs{
        border-bottom: 0;
        .nav-item + .nav-item{margin-left: 2.5rem;}
        .nav-link{
            font-size: 22px;font-weight: 700;color: #a5a5a5;border: 0;margin-bottom: 0;position: relative;padding: 1rem 3px;transition: .2s;
            &::after{content: '';width: 100%;height: 4px;background: transparent;position: absolute;left: 0;bottom: -1px;z-index: 1;transition: .2s;}
            &.active{
                color: #000;background: transparent;
                &::after{background: #000;}
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .tab-custom{
        .nav-tabs{
            .nav-link{
                font-size: 18px;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .tab-custom{
        overflow-x: scroll;overflow-y: hidden;
        .nav-tabs{
            flex-wrap: nowrap;
            .nav-item + .nav-item{margin-left: 1.75rem;}
            .nav-link{
                font-size: 15px;padding: .75rem 0;white-space: nowrap;
                &::after{height: 3px;}
            }
        }
    }
}

.video{
    position: relative;width: 100%;height: 0;padding-bottom: 56.25%;
    iframe,
    video{width: 100%;height: 100%;vertical-align: top;background-color: #000;background-size: cover;position: absolute;left: 0;top: 0;}
    .video-controller{position: absolute;left: 0;top: 0;width: 100%;height: 100%;}
    .btn-play{
        position: absolute;left: 0;top: 0;width: 100%;height: 100%;border: 0;display: block;padding: 0;margin: 0;
        background: rgba(0,0,0,0.2) url('../images/icon-play.svg') no-repeat 50% 50%;
    }
    .btn-pause{
        position: absolute;left: 0;top: 0;width: 100%;height: 100%;border: 0;display: block;padding: 0;margin: 0;display: none;
        background: rgba(0,0,0,0.2) url('../images/icon-pause.svg') no-repeat 50% 50%;
    }
    &.playing{
        .btn-play,
        .btn-pause{display: none;}
        &:hover{
            .btn-pause{display: block;}
        }
    }
}

@include media-breakpoint-down(md) {
    .card-body{padding: 1rem;}
}

.sub-visual{
    height: 300px;background-repeat: no-repeat;background-position: 50% 50%;background-size: cover;display: flex;align-items: center;
    [data-dep1="about"] &{background-image: url('../images/sub-visual-about.png');}
    [data-dep1="publications"] &{background-image: url('../images/sub-visual-publications.png');}
    [data-dep1="issues"] &{background-image: url('../images/sub-visual-issues.png');}
    [data-dep1="news"] &{background-image: url('../images/sub-visual-news.png');}
    [data-dep1="search"] &{background-image: url('../images/sub-visual-search.png');}
    h2{color: #fff;font-size: 48px;font-weight: 700;text-align: right;}
}
@include media-breakpoint-down(md) {
    .sub-visual{height: 140px;
        h2{font-size: 26px;text-align: center;}
    }
}

.location{
    max-width: 1390px;margin: -37px auto 120px;background: #fff;letter-spacing: 0;
    > ol{
        display: table;width: 100%;border-collapse: collapse;
        > li{
            display: table-cell;border: 1px solid #e6e6e6;position: relative;
            > a{
                min-width: 74px;height: 74px;padding: 0 30px;display: flex;align-items: center;position: relative;text-decoration: none;
                &::after{content: '';width: 11px;height: 11px;border-top: 2px solid #222;border-right: 2px solid #222;transform: rotate(135deg);vertical-align: top;position: absolute;right: 30px;top: 50%;margin-top: -8px;}
            }
            &.home{
                width: 74px;
                > a{justify-content: center;
                    &::after{display: none;}
                }
                .icon-home{vertical-align: top;}
            }
            &.dep1{width: 240px;
                .dep2{display: none;}
            }
            &.dep2{width: 30%;
                .dep3{display: none;}
            }
            &.active{
                border-color: $primary;
                > a{
                    background: $primary;color: #fff;
                    &::after{transform: rotate(-45deg);margin-top: -4px;border-top: 2px solid #fff;border-right: 2px solid #fff;}
                }
                ul{display: block;background: $primary;color: #fff;
                    > li > a{color: #fff;}
                }
            }
        }
        ul{
            position: absolute;left: 0;top: 74px;right: -1px;background: #fff;z-index: 1;display: none;border-top: 1px solid #5c6570;
            > li{
                border-bottom: 1px solid #5c6570;
                > a{display: block;padding: 15px 30px;text-decoration: none;
                    &:hover{background: #1e2d3f;}
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .location{
        margin-top: 0;margin-bottom: 30px;
        > ol{
            display: flex !important;border-bottom: 1px solid #e6e6e6;
            > li{
                border: 0;flex-basis: 0;flex-grow: 1;max-width: 100%;min-width: 0;
                & + li{border-left: 1px solid #e6e6e6;}
                > a{
                    padding: 0 30px 0 15px;font-size: 13px;height: 50px;min-width: 50px;
                    &::after{width: 7px;height: 7px;margin-top: -6px;right: 15px;border-top: 1px solid #222;border-right: 1px solid #222;}
                    > span{display: block;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;max-width: 100%;}
                }
                &.active{
                    position: relative;z-index: 10;
                    a{}
                }
                &.home,
                &.dep1{display: none;}
                &.dep2{width: auto;}
                &.dep3{width: auto;}
                &.empty{display: none;}
            }
            ul{top: 50px;left: -1px;right: 0;
                > li{
                    > a{padding: 10px 15px;font-size: 13px;}
                }
            }
        }
        .hide{display: none;}
    }
}

.count{
    display: flex;align-items: center; margin-bottom: 20px;
    span{}
    i{font-weight: 700;margin-left: 4px;}
    i + span{
        &::before{content: '';width: 1px;height: 16px;background: #e6e6e6;display: inline-block;vertical-align: middle;margin: 0 10px;transform: translateY(-1px);}
    }
    @include media-breakpoint-down(md) {
        font-size: 14px;margin-bottom: 15px;
    }
}

.board-search{
    margin-bottom: 80px;
    @include media-breakpoint-up(lg) {
        .btn{min-width: 240px;}
        .custom-select{min-width: 220px;}
    }
    @include media-breakpoint-down(md) {
        margin-bottom: 45px;
    }
}

.more{
    display: inline-block;width: 30px;height: 30px;border: 1px solid #e6e6e6;position: relative;
    &::after{content: '';display: block;width: 10px;height: 10px;background: url('../images/icon-plus-red.svg') 50% 50% no-repeat;transition:transform 0.7s ease;position: absolute;left:50%;top:50%;margin: -5px 0 0 -5px;}
    &:hover::after{-webkit-transform: rotate(180deg);transform: rotate(180deg);}
}

@include media-breakpoint-down(md) {
    .table{
        &,
        &{
            thead
            tbody,
            tr,
            th,
            td{display: block;}
        }
        colgroup{display: none;}
        tr{display: block;width: 100%;border-bottom: 1px solid #e6e6e6;padding: 15px 0;}
        th{display: block;}
        thead{display: none;}
        tbody td{display: inline-block;border-bottom: 0;padding: 0;font-size: 13px;margin-right: 20px;}
        tbody td:before{content: attr(data-label);color: #797979;margin-right: 10px;}
        [data-label=Title]{
            display: block;
            &::before{display: none;}
        }
    }
}

.sub-title-point{
    position: relative;padding-left: 40px;line-height: 24px;margin-bottom: 40px;margin-top: 60px;
    &::before{content: '';background: url('../images/title-point.svg') no-repeat 0 0;background-size: contain;width: 24px;height: 24px;position: absolute;left: 0;top: 0;}
    font-size: 22px;font-weight: 700;
}



@include media-breakpoint-down(md) {
    .mobile-scroll-x{
        overflow-y: hidden;
    }
}