#skip_navi{position:fixed; left:0; top:-999px; display:block; padding:.5rem 1.5rem; font-size:15px; color:#fff;font-weight: 700; background:$danger}
#skip_navi:focus{top:0; z-index:999}

html,body{height: 100%;}
body{overflow-x: hidden;width: 100%;padding-top: 129px;}
@include media-breakpoint-down(md) {
    body{padding-top: 100px;}
}
#wrap{min-height: 100%;display: flex;flex-direction: column;overflow: hidden;}

#header-block{
    position: fixed;left: 0;top: 0;z-index: 10;width: 100%;transition: .2s ease-out;
    &::after{content: '';display: block;width: 100%;height: 1px;/* background: $border-color; */position: absolute;bottom: 0;left: 0;}
    .container{height: 100%;position: relative;}
}

aside{
    border-bottom: 1px solid rgba(255,255,255,.4);height: 39px;line-height: 1;
    .center{
        display: flex;
        li{margin-right: 25px;}
        a{color: #fff;font-size: 13px;font-weight: 700;vertical-align: top;}
    }
    .util{
        display: flex;
        li{margin-left: 25px;}
        a{font-size: 13px;color: #fff;}
        .lang{
            a{color: #fff;font-weight: 700;display: inline-flex;align-items: center;}
            i{margin-right: 5px;font-style: normal;}
        }
    }
    @include media-breakpoint-down(md) {
        .util{
            li{margin-left: 20px;}
            a{font-size: 12px;}
        }
    }
}

header{
    transition: .2s ease-out;
    @include media-breakpoint-down(md) {
        height: 60px;
        .row{height: 100%;}
    }
}

h1.logo{
    line-height: 1;vertical-align: top;font-size: 0;margin-top: 29px;
    a{color: #fff;text-decoration: none;line-height: 1;display: inline-flex;align-items: flex-end;vertical-align: top;}
    strong{font-size: 30px;font-weight: 700;}
    span{font-size: 14px;margin-left: 8px;font-weight: 700;color: #a6a6a6;line-height: 1.15;}
    i{color: #3168b9;font-style: normal;}
    body.body-cidc &{
        a{align-items: center;}
        span{display: block !important;}
    }
    @include media-breakpoint-down(md) {
        margin-top: 20px;
        strong{font-size: 24px;}
        span,
        i{display: none;}
        body.body-cidc &{
            span{font-size: 11px;}
        }
    }
}

.gnb{
    margin-right: 3rem;
    .dep1{
        display: flex;justify-content: flex-end;
        > li{
            position: relative;
            > a{
                font-size: 20px;font-weight: 700;padding: 0;text-decoration: none;display: flex;height: 90px;align-items: center;transition: .15s;color: #fff;
                span{position: relative;display: flex;height: 100%;align-items: center;justify-content: center;}
                span::before{content: '';display: inline-block;width: 0;height: 2px;background: #fff;position: absolute;left: 0;bottom: 0;z-index: 1;transition: all .2s;}
                &.hover span::before{width: 100%;}
                &.hover + .dep2-wrap{display: block;}
            }
            &.active{
                > a span::before{width: 100%;}
            }
            &.hover{
                .dep2{opacity: 1;visibility: visible;}
            }
            & + li{margin-left: 65px;}
        }
    }
    .dep2{
        position: absolute;left: 0;top: 90px;opacity: 0;visibility: hidden;transition: opacity .2s;white-space: nowrap;padding-top: 20px;
        > li{
            + li{margin-top: 6px;}
            > a{font-weight: 500;font-size: 15px;color: #444;}
            &.active > a{color: $blue;font-weight: 700;}
        }
    }
    .dep3{
        > li{
            &::before{content: '-';margin-right: 8px;}
            > a{font-weight: 500;font-size: 14px;color: #444;}
            &.active > a{color: #000;font-weight: 700;text-decoration: underline;}
        }
    }
    @include media-breakpoint-up(xxl) {
        body.body-cidc &{
        .dep1 > li + li{margin-left: 50px;}
        }
    }
    @include media-breakpoint-down(xl) {
        margin-right: 2rem;
        .dep1 > li > a{font-size: 16px;}
        .dep1 > li + li{margin-left: 28px;}

    }
    @include media-breakpoint-down(md) {
        display: none;
    }
}


.header-search{
    position: relative;display: inline-block;vertical-align: middle;margin-right: 30px;margin-left: 30px;line-height: 1;
    .form-control{background-color: #f4f6f8;border: 0;border-radius: 50rem;width: 0;height: 48px;padding-right: 0;padding-left: 0;transition: none;display: none;box-shadow: none;}
    .header-search-btn{position: absolute;right: 15px;top: 50%;transform: translateY(-50%);line-height: 1;
        i{vertical-align: middle;}
    }
    &.active{
        margin-left: 0;
        .form-control{width: 220px;padding-left: 1rem;padding-right: 3rem;display: block;}
        .icon-search{width: 24px;height: 24px;}
    }
    @include media-breakpoint-down(xl) {
        &.active{
            .form-control{width: 180px;}
        }
    }
    @include media-breakpoint-down(md) {
        margin-right: 5px;margin-left: 0;
        .form-control{height: 36px;}
        .icon-search{width: 24px;height: 24px;}
        &.active{
            .form-control{width: 180px;}
            .icon-search{width: 20px;height: 20px;}
        }
    }
}

.btn-hamburger{
    color: #fff;line-height: 1;margin-top: 29px;transition: .2s .1s ease-in-out;
    svg{vertical-align: middle;}
    @include media-breakpoint-down(md) {
        margin-top: 15px;
    }
}


body:not(.body-main){
    aside{
        background: #fafafa;border-bottom: 1px solid $border-color;
        .center a{color: #000;}
        .util a{color: #000;}
    }
    h1.logo{
        strong{color: #000;}
    }
    .gnb .dep1 > li > a{color: #000;}
    .gnb .dep1 > li > a span::before{background: #000;}
    .btn-hamburger .cls-1{stroke: #000;}
}

html.is-scrolled{
    h1.logo{margin-top: 21px;}
    .btn-hamburger{margin-top: 21px;}
    @include media-breakpoint-down(md) {
        h1.logo{margin-top: 18px;}
        .btn-hamburger{margin-top: 17px;}
    }
}

html.gnb-hover{
    header{box-shadow: 5px 5px 10px rgba(0,0,0,0.03);background: rgba(255,255,255,.9);}
}
html.header-fixed{
    #header-block{
        transform: translateY(-40px);
    }
    header{box-shadow: 5px 5px 10px rgba(0,0,0,0.03);background: rgba(255,255,255,0.9) !important;}
    h1.logo{
        strong,
        span{color: #000 !important;}
    }
    .gnb .dep1 > li > a{color: #000;height: 70px;font-size: 18px;}
    .gnb .dep1 > li > a span::before{background: #000;}
    .gnb .dep2{padding-top: 0;}
    .btn-hamburger .cls-1{stroke: #000;}
    @include media-breakpoint-down(xl) {
        .gnb .dep1 > li > a{font-size: 15px;}
    }
}


.sitemap-layer{
    background: #02132c;color: #fff;position: fixed;left: 0;top: 0;width: 100%;z-index: 999;padding-left: 30px;padding-right: 30px;display: none;
    > .container{position: relative;}
    .btn-sitemap-close{
        position: absolute;right: 5px;top: 60px;z-index: 2;line-height: 1;padding: 10px;
        i{vertical-align: top;}
    }
}
.sitemap{
    position: relative;padding: 100px 0 120px;
    a{color: #fff;}
    .dep1{
        display: flex;flex-wrap: wrap;justify-content: center;
        > li{
            padding: 0 80px;margin-top: 30px;
            > a{
                font-size: 30px;font-weight: 700;
                @include media-breakpoint-up(lg) {
                    pointer-events: none;
                }
                @include media-breakpoint-down(xl) {
                    font-size: 24px;
                }
            }
        }
    }
    .dep2{
        > li{
            margin: 10px 0;
            > a{font-size: 16px;font-weight: 500;
                @include media-breakpoint-down(xl) {
                    font-size: 16px;
                }
            }
        }
    }
    .dep3{
        > li{
            margin: 8px 0;
            &::before{content: '-';margin-right: 8px;}
            > a{font-size: 16px;}
        }
    }
}
html.show-sitemap{
    .sitemap-layer{
        display: block;
    }
}
@include media-breakpoint-down(md) {
    .sitemap-layer{
        position: fixed;height: 100%;padding: 0 .75rem;
        .btn-sitemap-close{top: 21px;right: 12.5px;padding: 0;
            i{width: 18px;height: 18px;}
        }
    }
    .sitemap{
        padding: 60px 0 0;
        .dep1{
            display: block;
            padding-bottom: calc(constant(safe-area-inset-bottom) + 30px);
            padding-bottom: calc(env(safe-area-inset-bottom) + 30px);
            > li{
                padding: 0 25px;
                & + li{margin-top: 15px;}
                > a{
                    display: block;position: relative;font-size: 28px;
                    &::before{content: '';display: inline-block;width: 12px;height: 12px;border-top: 2px solid #fff;border-right: 2px solid #fff;transform: rotate(135deg);vertical-align: middle;position: absolute;right: 5px;top: 50%;margin-top: -7px;}
                }
                &.active{
                    > a::before{transform: rotate(-45deg);}
                    .dep2{display: block;}
                }
            }
        }
        .dep2{
            display: none;padding-left: 20px;padding-right: 20px;
            > li{
                margin: 15px 0;
                &.active{
                    > a{color: rgb(210, 220, 255);font-weight: 700;}
                }
            }
        }
        .dep3{
            > li{
                > a{font-size: 14px;letter-spacing: -0.03em;}
                &.active > a{color: rgb(210, 220, 255);font-weight: 700;}
            }
        }
    }
    html.show-sitemap{
        body{overflow: hidden;}
        #header-block{transform: none !important;transition: none !important}
        .sitemap-layer{
            .container{height: 100%;}
            .sitemap{height: 100%;
                .dep1{height: 100%;overflow-x: hidden;}
            }
        }
    }
}

#container-block{
    padding-bottom: 120px;flex-grow: 1;
    @include media-breakpoint-down(md) {
        padding-bottom: 60px;
    }
}

#footer{
    background: #2b3641;color: #eee;padding: 50px 0;
    .footer-menu{
        display: flex;flex-wrap: wrap;padding: 30px 0;
        > li{margin-right: 30px;}
        > li a{font-size: 15px;font-weight: 500;letter-spacing: -0.03em;color: #fff;}
        strong{font-weight: 900;color: #fff;}
    }
    .footer-info{margin-right: 50px;color: #eee;line-height: 1.8;}
    .copyright{font-size: 14px;color: #ddd;font-weight: 500;margin-top: 30px;}
    .familysite{
        .dropdown{
            position: relative;
            & + .dropdown{margin-left: 14px;}
            i{width: 0;height: 0;border-style: solid;border-width: 7px 6px 0 6px;border-color: #fff transparent transparent transparent;display: inline-block;vertical-align: middle;margin-left: 5px;position: absolute;right: 0;top: 50%;transform: translateY(-50%);}
            button{font-size: 16px;font-weight: 700;display: block;padding: 12px 20px 12px 0;text-align: left;;min-width:170px;border-bottom: 1px solid #fff;}
            .btn-open{color: #fff}
            .site{
                position: absolute;width: 100%;bottom: 50px;left: 0;z-index: 2;background: #fff;border-radius: 10px;box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.2);display: none;
                ul{padding: 10px 0;}
                li{
                    padding: 0 20px;line-height: 1.25;
                    & + li{margin-top: .5rem;}
                    a{
                        font-size: 14px;color: #333;position: relative;text-decoration: none;
                        &::before{content: '';width: 0;height: 1px;background: #333;transition: .3s;position: absolute;left: 0;bottom: -3px;}
                        &:hover,
                        &:focus{
                            &::before{width: 100%;}
                        }
                    }
                }
            }
            &.active{
                i{transform: rotate(180deg);margin-top: -4px;}
                .site{display: block;}
            }
        }
    }
    @include media-breakpoint-down(md) {
        padding: 30px 0 calc(constant(safe-area-inset-bottom) + 30px);
        padding: 30px 0 calc(env(safe-area-inset-bottom) + 30px);
        .footer-info{margin-right: 0;font-size: 12px;}
        .copyright{font-size: 12px;margin-top: 20px;}
        .familysite{
            margin-bottom: 20px;
            .dropdown{
                button{font-size: 13px;min-width: 0;width: 100%;}
            }
        }
    }
}


.btn-top{
    position: fixed;bottom: -100px;right: 60px;z-index: 1;transition: .4s ease-in .1s;
    > a{width: 60px;height: 60px;border: 1px solid #eee;display: flex;align-items: center;justify-content: center;background: #fff;}
    .icon-top{background-image: url('../images/icon-top.svg');width: 24px;height: 28px;}
    html.is-scrolled &{
        bottom: 260px;
    }
    @include media-breakpoint-down(md) {
        right: 15px;bottom: 15px !important;
        > a {width: 40px;height: 40px;}
        .icon-top{width: 18px;height: 20px;}
    }
}


.charge{
    position: relative;margin-bottom: 30px;
    &.hide{display:none !important;}
    dl{line-height:15px;border:4px solid $border-color;padding:25px 0;}
    dl dt{display:inline;padding-left:17px;margin-left:15px;;color: #222;}
    dl dt:before{content: '·'}
    dl dd{display:inline;color: #797979;}
    strong{position: absolute;right:20px;top:50%;margin-top: -13.5px;height: 27px;text-align: right;}
    strong img{height: 32px;}
}