<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="about" data-dep2="history" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">History</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="bg-animation">
                    <div class="container">
                        <span class="obj-2" data-0-start="top:60px;" data-0-end="top:-50px;"></span>
                        <span class="obj-3" data-150-start="left:45%;" data-0-end="left:35%;"></span>
                    </div>
                </div>
                <div class="history">
                    <div class="container">
                        <strong>History of Korean Women’s Development Institute</strong>
                        <dl class="mission">
                            <dt>Mission</dt>
                            <dd>To contribute to the establishment of national gender equality policies for realization of gender-equal <br class="d-none d-lg-block">society and to the enhancement of citizen happiness</dd>
                        </dl>
                        <div class="row">
                            <div class="col-12 col-xl">
                                <ol>
                                    <li>
                                        <div class="in">
                                            <em>2020</em>
                                            <span>Sep 24, 2020</span>
                                            <p>Inauguration of the 16th President, Yookyung Mun</p>
                                        </div>
                                    </li>
                                    <!--
                                    <li>
                                        <div class="in">
                                            <em>2017</em>
                                            <span>Sep 29, 2017</span>
                                            <p>Inauguration of the 15th President, Insook Kwon</p>
                                        </div>
                                    </li>
                                    -->
                                    <li>
                                        <div class="in">
                                            <em>2007</em>
                                            <span>May 11, 2007</span>
                                            <p>Korean name of the Institute changed from 'Women's Development Institute' to 'Korean Women's Policy Insttiute'</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="in">
                                            <em>1999</em>
                                            <span>Jan 29, 1999</span>
                                            <p>The Institute Placed under the supervision of the National Research Council for Humanities and Social Sciences</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="in">
                                            <em>1998</em>
                                            <span>Feb 28, 1998</span>
                                            <p>The Institute placed under the supervison of the Presidential Commission on Women's Affairs</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="in">
                                            <em>1995</em>
                                            <span>Sep 28, 1995</span>
                                            <p>Opening of the Common Forum for Women (annex building)</p>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                            <div class="col-12 col-xl">
                                <ol>
                                    <li>
                                        <div class="in">
                                            <em>1991</em>
                                            <span>Apr 18, 1991</span>
                                            <p>The Institute placed under the supervision of the Ministry of Political Affairs (II)</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="in">
                                            <em>1987</em>
                                            <span>Nov 20, 1987</span>
                                            <p>Opening of the Institute Complex</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="in">
                                            <em>1983</em>
                                            <div class="set">
                                                <span>Apr 21, 1983</span>
                                                <p>Establishment of the Institute under the supervision of the Ministry of Health and Social Affairs</p>
                                            </div>
                                            <div class="set">
                                                <span>Mar 14, 1983</span>
                                                <p>Announcement of the Enforcement Ordinance of the KWDI Act (Presidential Decree No. 11071)</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="in">
                                            <em>1982</em>
                                            <span>Dec 31, 1982</span>
                                            <p>Enactment of the Korean Women's Development Institute (KWDI) Act (Act No. 3632)</p>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>