<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="about" data-dep2="office" data-dep3="message">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">President`s Message</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="bg-animation">
                    <div class="container"><span class="obj-1" data-0-start="top:143px;" data-0-end="top:60px;"></span></div>
                </div>
                <div class="message">
                    <div class="container">
                        <strong>President of Korean <br>Women’s Development Institute</strong>
                        <div class="row row-120">
                            <div class="col-12 col-md order-2 order-md-1">
                                <em>Greetings!</em>
                                <div class="msg">
                                    Korean Women’s Development Institute(KWDI) is a government research think-tank under the Prime Minister’s Office of South Korea. Since its establishment in 1983, KWDI has
                                    dedicated itself in carrying out policy and legal research in the realm of gender and family issues of Korea. <br><br>
                                    KWDI provides support for the successful implementation of policies that benefit women, by identifying policy priorities in various sectors for gender equality, and carrying
                                    out evidence-based policy research that reflects gender perspectives.<br><br>
                                    As a world-class gender equality research institute that leads inclusion in a rapidly changing social environment, we will continue to promote research activities that ensures
                                    gender mainstreaming in all sectors of society.<br><br>
                                    We look forward to your encouragement and support.<br><br>
                                    Thank you.
                                </div>
                            </div>
                            <div class="col-12 col-md-auto order-1 order-md-2">
                                <div class="photo">
                                    <img src="../assets/images/img-president.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>