<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="about" data-dep2="pr" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">PR</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="bg-animation">
                    <div class="container">
                        <span class="obj-2" data-0-start="top:20px;" data-0-end="top:-150px;"></span>
                        <span class="obj-3-1" data-300-start="top:245px;" data-0-end="top:400px;"></span>
                    </div>
                </div>
                <div class="container">
                    <strong class="h-text">Identity of the Korean Women’s <br>Development Institute</strong>
                    <div class="pr">
                        <div class="row-wrap">
                            <div class="row">
                                <div class="col-12 col-lg-auto">
                                    <h3>Identity</h3>
                                </div>
                                <div class="col-12 col-lg">
                                    <p>
                                        The new CI is an imagery of the initial “W” for Woman and the world (the globe), symbolizing KWDI’s efforts towards the fulfillment of
                                        gender equal society. Each wings on the left and right represent the active women and the collaboration of men. And the ellipse
                                        in the center indicates a harmonizing society of gender equality. <br>
                                        In color, the main scheme is blue, representing globalization, rebirth, idealization and hope. And grey is to express harmony.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row-wrap">
                            <div class="row">
                                <div class="col-12 col-lg-auto">
                                    <h3>Signature</h3>
                                </div>
                                <div class="col-12 col-lg">
                                    <div class="row">
                                        <div class="col-12 col-lg-auto">
                                            <div class="symbol">
                                                <ul>
                                                    <li>
                                                        <div class="txt1">[ Ideal And Hope ]</div>
                                                        <div class="txt2">Active Women</div>
                                                        <div class="color">#0074FF</div>
                                                    </li>
                                                    <li>
                                                        <div class="txt1">[ Coexistence And Rebirth ]</div>
                                                        <div class="txt2">Harmonizing Society Gender-Equal Society</div>
                                                        <div class="color">#373658</div>
                                                    </li>
                                                    <li>
                                                        <div class="txt1">[ Harmony And Cooperation ]</div>
                                                        <div class="txt2">Collaboration Men</div>
                                                        <div class="color">#A6A6A6</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg text-right">
                                            <div class="img">
                                                <img src="../assets/images/logo-lg.svg" alt="">
                                            </div>
                                            <div class="download">
                                                <a href="../assets/download/KWDI-CI.zip">
                                                    Download <strong class="text-info ml-1">.AI</strong> <i class="icon-download ml-2"></i>
                                                </a>
                                                <a href="../assets/download/KWDI-CI.jpg">
                                                    Download <strong class="text-info ml-1">.JPG</strong> <i class="icon-download ml-2"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-wrap">
                            <div class="row">
                                <div class="col-12 col-lg-auto">
                                    <h3>Brochure</h3>
                                </div>
                                <div class="col-12 col-lg">
                                    <p>
                                        KWDI is a women’s policy think-tank working towards the realization of gender equal society.
                                        And we wish to grow ourselves into a global institute and contribute our efforts to women’s development.
                                    </p>
                                    <div class="brochure">
                                        <div class="row row-0">
                                            <div class="col-12 col-md">
                                                <img src="../assets/images/img-brochure-1.png" alt="">
                                            </div>
                                            <div class="col-12 col-md">
                                                <img src="../assets/images/img-brochure-2.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="download">
                                        <a href="../assets/download/KWDI_eng_2021_new.pdf">
                                            Download <strong class="text-info ml-1">.PDF</strong> <i class="icon-download ml-2"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-wrap">
                            <div class="row">
                                <div class="col-12 col-lg-auto">
                                    <h3>Promotional Video</h3>
                                </div>
                                <div class="col-12 col-lg">
                                    <div class="video">
                                        <video width="100%">
                                            <source src="../assets/images/2021_pr_video.mp4" type="video/mp4">
                                        </video>
                                        <div class="video-controller">
                                            <button type="button" class="btn-play"><span class="sr-only">play</span></button>
                                            <button type="button" class="btn-pause"><span class="sr-only">pause</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>