<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="about" data-dep2="vision" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Vision &amp; Stategy</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="bg-animation">
                    <div class="container">
                        <span class="obj-5" data-0-start="left: -70%" data-0-end="left: -77%"></span>
                        <span class="obj-6" data-50-start="left: -57%" data-0-end="left: -65%"></span>
                        <span class="obj-7" data-120-start="top:450px;left: 40%" data-0-end="top:550px;left: 55%;"></span>
                    </div>
                </div>
                <div class="container">
                    <strong class="h-text">Vision and Strategy System</strong>
                    <div class="vision">
                        <div class="row">
                            <div class="col-12 col-xl-auto">
                                <h3>Vision</h3>
                            </div>
                            <div class="col-12 col-xl">
                                <p><strong>To become a global gender equality research institute</strong>, leading an inclusive society</p>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="row">
                            <div class="col-12 col-xl-auto">
                                <h3>Mission</h3>
                            </div>
                            <div class="col-12 col-xl">
                                <p>
                                    To contribute to the establishment of <strong>national gender equality policies</strong> <br class="d-none d-lg-block">
                                    For realization of gender-equal society and to the enhancement of <strong>citizen happiness.</strong>
                                </p>
                            </div>
                        </div>
                        <div class="line"></div>
                        <div class="mobile-scroll-x">
                            <div class="row">
                                <div class="col-12 col-xl-auto">
                                    <h3>Goals</h3>
                                </div>
                                <div class="col-12 col-xl">
                                    <div class="row row-20">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p>
                                                        Expand the horizon Of <strong>future-leading gender</strong> research
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p>
                                                        Innovate research management
                                                        <strong>System through knowledge</strong>
                                                        Management
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p>
                                                        Establish a sustainable
                                                        <strong>management innovation system</strong>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-xl-auto">
                                    <h3>Strategies</h3>
                                </div>
                                <div class="col-12 col-xl">
                                    <div class="row row-20">
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p>
                                                        Restructuring of labor and family policies
                                                        Dyring the post-COVID 19 and digital
                                                        Transformation era <br><br>
                                                        Promotion of gender equality for future
                                                        generation and expansion of policy areas to
                                                        Respond to gender violence <br><br>
                                                        Reinforcement of basic research for effective
                                                        Implementation of gender mainstreaming
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p>
                                                        Reinforcement of virus cycle of
                                                        Research planning for policy consumers
                                                        <br><br>
                                                        Innovation of research process through
                                                        Knowledge information sharing
                                                        <br><br>
                                                        Strengthening the hub function of gender
                                                        Research
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="card">
                                                <div class="card-body">
                                                    <p>
                                                        Establishment of fat and transparent
                                                        management system <br><br>
                                                        Creation of change-driven
                                                        Organizational culture
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>