<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="body-main"> <!-- 메인에만 .body-main -->

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main">

                <div class="main">
                    <section class="section-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-7 order-2 order-lg-1">
                                    <div class="main-banner">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <div class="swiper-slide">
                                                    <div class="item"><a href=""><img src="../assets/images/main-banner-1.png" alt=""></a></div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="item"><a href=""><img src="../assets/images/main-banner-2.png" alt=""></a></div>
                                                </div>
                                                <div class="swiper-slide">
                                                    <div class="item"><a href=""><img src="../assets/images/main-banner-3.png" alt=""></a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- <div class="swiper-pagination swiper-pagination-banner"></div> -->
                                    </div>
                                </div>
                                <div class="col-12 col-lg-5 order-1 order-lg-2">
                                    <div class="search-area">
                                        <div class="search">
                                            <form action="">
                                                <fieldset>
                                                    <legend>SEARCH</legend>
                                                    <div class="input-wrap">
                                                        <input type="search" class="form-control" placeholder="Search Word">
                                                        <button type="button" aria-label="SEARCH"><i class="icon-search-white"></i></button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                            <div class="tags">
                                                <a href="javascript:;">#Issue Paper</a>
                                                <a href="javascript:;">#MOU</a>
                                                <a href="javascript:;">#Abstract</a>
                                                <a href="javascript:;">#Report</a>
                                                <a href="javascript:;">#Seminars</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-quick">
                        <div class="container">
                            <!-- 220124 -->
                            <div class="card-wrap row m-b-30">
                                <div class="col-6 col-lg-4 col-xl-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="tit">Report</div>
                                                <div class="more-view"><span>MORE <i>VIEW</i></span></div>
                                            </div>
                                        </div>
                                        <a href="" class="card-body">
                                            <div class="img">
                                                <img src="https://eng.kwdi.re.kr/upload/ECM014/ECM01420210615135328WOATJ.jpg" alt="">
                                                <div class="post">
                                                    <div class="subject">2021 KWDI Gender and ODA Forum</div>
                                                    <div class="date">2021-09-09</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-lg-4 col-xl-3">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="tit">Issue Paper</div>
                                                <div class="more-view"><span>MORE <i>VIEW</i></span></div>
                                            </div>
                                        </div>
                                        <a href="" class="card-body">
                                            <div class="img">
                                                <img src="https://eng.kwdi.re.kr/upload/ECM014/ECM01420210615135328WOATJ.jpg" alt="">
                                                <div class="post">
                                                    <div class="subject">2021 KWDI Gender and ODA Forum</div>
                                                    <div class="date">2021-09-09</div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 col-xl-3 m-t-10 mt-lg-0">
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="tit">Card News</div>
                                                <div class="more-view"><span>MORE <i>VIEW</i></span></div>
                                            </div>
                                        </div>
                                        <a href="" class="card-body">
                                            <div class="img cardnews"><img src="https://www.kwdi.re.kr/upload/editor/CM030/CM03020211005075244WAJEL.jpg" alt=""></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 col-xl-3 m-t-10 mt-lg-3">
                                    <div class="column-group">
                                        <div class="row flex-column">
                                            <div class="col">
                                                <div class="card bg-secondary">
                                                    <a href="" class="card-body">
                                                        <div class="tit">GSIS</div>
                                                        <div class="desc">Gender Statistics <br>Information System</div>
                                                        <div class="more-view"><span>MORE VIEW</span></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card bg-secondary">
                                                    <a href="" class="card-body">
                                                        <div class="tit">KLOWF</div>
                                                        <div class="desc">Korean Longitudinal Survey of Women and Familles</div>
                                                        <div class="more-view"><span>MORE VIEW</span></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card bg-secondary">
                                                    <a href="" class="card-body">
                                                        <div class="tit">IDC</div>
                                                        <div class="desc">Center for International <br>Cooperation &amp; Development</div>
                                                        <div class="more-view"><span>MORE VIEW</span></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row row-60 align-items-center">
                                        <div class="col-12 col-lg-auto">
                                            <h2 class="tit">NOTICE</h2>
                                        </div>
                                        <div class="col-12 col-lg">
                                            <div class="main-notice">
                                                <div class="swiper-container">
                                                    <div class="swiper-wrapper">
                                                        <% for(var i = 0; i < 3; i++){ %>
                                                        <div class="swiper-slide">
                                                            <div class="item">
                                                                <a href="" class="tit">Statistical Handbook: Women in Korea 2020</a>
                                                                <span class="date">2021-08-21</span>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                    <div class="swiper-button-area">
                                                        <div class="swiper-button-prev"></div>
                                                        <div class="swiper-button-next"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- <section class="section-research">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-auto">
                                    <h2 class="title">Research Projects</h2>
                                </div>
                                <div class="col-12 col-lg">
                                    <div class="contents">
                                        <nav class="tab-custom">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active" data-toggle="tab" href="#t1-1" role="tab" aria-selected="true">Abstract</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" data-toggle="tab" href="#t1-2" role="tab" aria-selected="false">Report</a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="t1-1" role="tabpanel">
                                                <ul class="text-dot">
                                                    <li><a href="">Statistical Handbook: Women in Korea 2019</a></li>
                                                    <li><a href="">Preparing Evaluation Standards for Non-consensual Sexual Acts - Research on Case…</a></li>
                                                    <li><a href="">Measures to Improve Support for Child and Youth Victims of Online Sexual Exploitation</a></li>
                                                    <li><a href="">Legislative Agendas on Women and Families for the 21th National Assembly</a></li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane fade" id="t1-2" role="tabpanel">...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> -->
                    <section class="section-publications">
                        <div class="container">
                            <div class="row justify-content-between">
                                <div class="col-12 col-lg"> <!-- 220124 클래스명-->
                                    <h2 class="title">Publications</h2>
                                </div>
                                <div class="col-12 col-lg-auto"> <!-- 220124 클래스명-->
                                    <nav class="tab-custom">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" data-toggle="tab" href="#t2-1" role="tab" aria-selected="true">Annual Report</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" data-toggle="tab" href="#t2-2" role="tab" aria-selected="false">Women in Korea : Gender Statistics</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" data-toggle="tab" href="#t2-3" role="tab" aria-selected="false">Seminar</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="t2-1" role="tabpanel">
                                    <div class="report-list">
                                        <div class="swiper-container">
                                            <!-- 220124 -->
                                            <div class="btns">
                                                <div class="btn-swiper-pager">
                                                    <button type="button" class="btn btn-outline-dark btn-lg btn-round swiper-button-prev-pub" aria-label="이전"><i class="icon-arrow-left"></i></button>
                                                    <button type="button" class="btn btn-outline-dark btn-lg btn-round swiper-button-next-pub" aria-label="다음"><i class="icon-arrow-right"></i></button>
                                                </div>
                                            </div>
                                            <div class="swiper-wrapper">
                                                <% for(var i = 0; i < 6; i++){ %>
                                                <div class="swiper-slide">
                                                    <a href="#none" class="item">
                                                        <div class="img">
                                                            <img src="https://eng.kwdi.re.kr/upload/editor/ECM014/ECM01420210615135313UQGQK.jpg" alt="">
                                                        </div>
                                                        <div class="tit">Statistical Handbook: Women in Korea 2020</div>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="info">
                                                                <span>Date</span>
                                                                <i>2021-04-29</i>
                                                            </div>
                                                            <div class="info">
                                                                <span>Year</span>
                                                                <i>2021</i>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="t2-2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="t2-3" role="tabpanel">

                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-video">
                        <div class="container">
                            <div class="row row-60">
                                <div class="col-12 col-lg-auto">
                                    <h2 class="title">Korean Women’s <br>Development </h2>
                                    <dl>
                                        <dt>VISION</dt>
                                        <dd>Global gender equality research institute, leading an inclusive society.</dd>
                                        <dt>ESTABLISHING OBJECTIVE</dt>
                                        <dd>Conduct comprehensive research on women’s issues and contribute to
                                            women’s social participation, welfare promotion and the development of
                                            women and nation by advancing women’s policy and fostering women’s
                                            ability and providing women’s information</dd>
                                    </dl>
                                </div>
                                <div class="col-12 col-lg">
                                    <div class="video">
                                        <!-- 220124 -->
                                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5qhryOx9dF0?rel=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- <section class="section-statistics">
                        <div class="container">
                            <h2 class="title">Gender Statistics at a Glance</h2>
                            <ul class="pie_chart_box">
                                <li>
                                    <a href="javascript:;" class="pie_chart" onclick="moveStat('36', '2003102', '2003000');">
                                        <p class="pie_year">2021</p>
                                        <p class="pie_title">Percentage of elected female lawmakers</p>
                                        <div class="graph_div graph_01"><canvas width="140" height="140"></canvas><strong>38.4<i>%</i></strong></div>
                                    </a>
                                </li>


                                <li>
                                    <a href="javascript:;" class="pie_chart" onclick="moveStat('33', '2003102', '2003000');">
                                        <p class="pie_year">2020</p>
                                        <p class="pie_title">Proportion of females among university faculty members</p>
                                        <div class="graph_div graph_02"><canvas width="140" height="140"></canvas><strong>52.8<i>%</i></strong></div>
                                    </a>
                                </li>


                                <li>
                                    <a href="javascript:;" class="pie_chart" onclick="moveStat('25', '2003102', '2003000');">
                                        <p class="pie_year">2018</p>
                                        <p class="pie_title">Share of men among workers on child care leave</p>
                                        <div class="graph_div graph_03"><canvas width="140" height="140"></canvas><strong>10.3<i>%</i></strong></div>
                                    </a>
                                </li>


                                <li>
                                    <a href="javascript:;" class="pie_chart" onclick="moveStat('23', '2003102', '2003000');">
                                        <p class="pie_year">2020</p>
                                        <p class="pie_title">Share of career interrupted women among marred women aged 15 to 54</p>
                                        <div class="graph_div graph_04"><canvas width="140" height="140"></canvas><strong>27.0<i>%</i></strong></div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="index_box">
                                <li class="index_01">
                                    <a href="javascript:;" id="gdi1Btn" data-param="GDI1">
                                        <p class="index_title"><span class="index_t_year">KGEI</span> Korean Gender Equality Index</p>

                                        <div class="num_vertical_slide slick-initialized slick-slider slick-vertical"><div class="slick-list draggable" style="height: 40px;"><div class="slick-track" style="opacity: 1; height: 520px; transform: translate3d(0px, -200px, 0px); transition: transform 300ms ease 0s;"><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2019</p><span class="score">73.9</span>pt</div></div></div><div class="slick-slide" data-slick-index="0" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2014</p><span class="score">69.6</span>pt</div></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2015</p><span class="score">70.5</span>pt</div></div></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2016</p><span class="score">71.4</span>pt</div></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2017</p><span class="score">72.2</span>pt</div></div></div><div class="slick-slide slick-current slick-active" data-slick-index="4" aria-hidden="false" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2018</p><span class="score">73.1</span>pt</div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2019</p><span class="score">73.9</span>pt</div></div></div><div class="slick-slide slick-cloned" data-slick-index="6" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2014</p><span class="score">69.6</span>pt</div></div></div><div class="slick-slide slick-cloned" data-slick-index="7" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2015</p><span class="score">70.5</span>pt</div></div></div><div class="slick-slide slick-cloned" data-slick-index="8" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2016</p><span class="score">71.4</span>pt</div></div></div><div class="slick-slide slick-cloned" data-slick-index="9" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2017</p><span class="score">72.2</span>pt</div></div></div><div class="slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2018</p><span class="score">73.1</span>pt</div></div></div><div class="slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;"><p class="index_year">2019</p><span class="score">73.9</span>pt</div></div></div></div></div></div>

                                    </a>
                                </li>
                                <li class="index_02">
                                    <a href="javascript:;" id="gdi2Btn" data-param="GDI2">

                                            <p class="index_title">
                                                <span class="index_t_year">RGEI 2018</span>Regional Gender Equality Index
                                            </p>

                                            <div class="num_vertical_slide slick-initialized slick-slider slick-vertical"><div class="slick-list draggable" style="height: 42px;"><div class="slick-track" style="opacity: 1; height: 1386px; transform: translate3d(0px, -294px, 0px); transition: transform 300ms ease 0s;"><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Jeju-do</p>
                                                        <span class="score">
                                                            High




                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gyeonggi-do</p>
                                                        <span class="score">

                                                            Upper-middle



                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Seoul</p>
                                                        <span class="score">

                                                            Upper-middle



                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Busan</p>
                                                        <span class="score">
                                                            High




                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Daegu</p>
                                                        <span class="score">
                                                            High




                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="4" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">lncheon</p>
                                                        <span class="score">



                                                            Lower-middle

                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="5" aria-hidden="true" style="width: 171px;"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gwangju</p>
                                                        <span class="score">



                                                            Lower-middle

                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-current slick-active" data-slick-index="6" aria-hidden="false" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Daejeon</p>
                                                        <span class="score">
                                                            High




                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="7" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Ulsan</p>
                                                        <span class="score">

                                                            Upper-middle



                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="8" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gangwon-do</p>
                                                        <span class="score">



                                                            Lower-middle

                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="9" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Chungcheongbuk-do</p>
                                                        <span class="score">

                                                            Upper-middle



                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="10" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Chungcheongnam-do</p>
                                                        <span class="score">




                                                            Low
                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="11" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Jeollabuk-do</p>
                                                        <span class="score">



                                                            Lower-middle

                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="12" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Jeollanam-do</p>
                                                        <span class="score">




                                                            Low
                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="13" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gyeongsangbuk-do</p>
                                                        <span class="score">




                                                            Low
                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="14" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gyeongsangnam-do</p>
                                                        <span class="score">




                                                            Low
                                                        </span>
                                                    </div></div></div><div class="slick-slide" data-slick-index="15" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Jeju-do</p>
                                                        <span class="score">
                                                            High




                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="16" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gyeonggi-do</p>
                                                        <span class="score">

                                                            Upper-middle



                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="17" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Seoul</p>
                                                        <span class="score">

                                                            Upper-middle



                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="18" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Busan</p>
                                                        <span class="score">
                                                            High




                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="19" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Daegu</p>
                                                        <span class="score">
                                                            High




                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="20" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">lncheon</p>
                                                        <span class="score">



                                                            Lower-middle

                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="21" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gwangju</p>
                                                        <span class="score">



                                                            Lower-middle

                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="22" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Daejeon</p>
                                                        <span class="score">
                                                            High




                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="23" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Ulsan</p>
                                                        <span class="score">

                                                            Upper-middle



                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="24" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gangwon-do</p>
                                                        <span class="score">



                                                            Lower-middle

                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="25" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Chungcheongbuk-do</p>
                                                        <span class="score">

                                                            Upper-middle



                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="26" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Chungcheongnam-do</p>
                                                        <span class="score">




                                                            Low
                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="27" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Jeollabuk-do</p>
                                                        <span class="score">



                                                            Lower-middle

                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="28" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Jeollanam-do</p>
                                                        <span class="score">




                                                            Low
                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="29" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gyeongsangbuk-do</p>
                                                        <span class="score">




                                                            Low
                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="30" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Gyeongsangnam-do</p>
                                                        <span class="score">




                                                            Low
                                                        </span>
                                                    </div></div></div><div class="slick-slide slick-cloned" data-slick-index="31" id="" aria-hidden="true" style="width: 171px;" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_year">Jeju-do</p>
                                                        <span class="score">
                                                            High




                                                        </span>
                                                    </div></div></div></div></div></div>


                                    </a>
                                </li>
                                <li class="index_03">
                                    <a href="javascript:;" id="gdi3Btn" data-param="GDI3">
                                        <div class="num_vertical_slide slick-initialized slick-slider slick-vertical"><div class="slick-list draggable" style="height: 40px;"><div class="slick-track" style="opacity: 1; height: 280px; transform: translate3d(0px, -80px, 0px); transition: transform 300ms ease 0s;"><div class="slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_title">
                                                            <span class="index_t_year">GII 2020</span>

                                                            Gender Inequality Index

                                                        </p>
                                                        <span class="score">0.064</span>pt</div></div></div><div class="slick-slide" data-slick-index="0" aria-hidden="true"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_title">
                                                            <span class="index_t_year">GDI 2020</span>


                                                            Gender-related Development Index
                                                        </p>
                                                        <span class="score">0.936</span>pt</div></div></div><div class="slick-slide slick-current slick-active" data-slick-index="1" aria-hidden="false" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_title">
                                                            <span class="index_t_year">GGI 2021</span>
                                                            Gender Gap Index


                                                        </p>
                                                        <span class="score">0.687</span>pt</div></div></div><div class="slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_title">
                                                            <span class="index_t_year">GII 2020</span>

                                                            Gender Inequality Index

                                                        </p>
                                                        <span class="score">0.064</span>pt</div></div></div><div class="slick-slide slick-cloned" data-slick-index="3" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_title">
                                                            <span class="index_t_year">GDI 2020</span>


                                                            Gender-related Development Index
                                                        </p>
                                                        <span class="score">0.936</span>pt</div></div></div><div class="slick-slide slick-cloned" data-slick-index="4" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_title">
                                                            <span class="index_t_year">GGI 2021</span>
                                                            Gender Gap Index


                                                        </p>
                                                        <span class="score">0.687</span>pt</div></div></div><div class="slick-slide slick-cloned" data-slick-index="5" id="" aria-hidden="true" tabindex="-1"><div><div style="width: 100%; display: inline-block;">
                                                        <p class="index_title">
                                                            <span class="index_t_year">GII 2020</span>

                                                            Gender Inequality Index

                                                        </p>
                                                        <span class="score">0.064</span>pt</div></div></div></div></div></div>

                                    </a>
                                </li>
                            </ul>
                        </div>
                    </section> -->
                    <section class="section-youtube">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg">
                                    <h2 class="title">KWDI Youtube</h2>
                                    <p class="desc">For the realization of a gender-equal society in all the world <br>Facilitate the connection of activists and proceed with the activity.</p>
                                </div>
                                <div class="col-12 col-lg-auto">
                                    <div class="btns">
                                        <a href="" class="btn btn-dark btn-lg btn-round">MORE +</a>
                                        <div class="btn-swiper-pager">
                                            <button type="button" class="btn btn-outline-dark btn-lg btn-round swiper-button-prev-youtube" aria-label="이전"><i class="icon-arrow-left"></i></button>
                                            <button type="button" class="btn btn-outline-dark btn-lg btn-round swiper-button-next-youtube" aria-label="다음"><i class="icon-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="main-youtube-list">
                                <div class="swiper-container">
                                    <div class="swiper-wrapper">
                                        <% for(var i = 0; i < 6; i++){ %>
                                        <div class="swiper-slide">
                                            <div class="video">
                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/IrxuJZROU_8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
        var visualSwiper = new Swiper('.main-banner .swiper-container', {
            loop: true,
            speed: 900,
            observer: true,
            observeParents: true,
            observeSlideChildren: true,
            autoplay: {
                delay: 5000,
            },
            pagination: {
                el: '.swiper-pagination-banner',
                clickable: true,
            },
        });

        var noticeSwiper = new Swiper('.main-notice .swiper-container', {
            direction: 'vertical',
            loop: true,
            observer: true,
            observeParents: true,
            observeSlideChildren: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 3500,
            },
        });

        var publicationsSwiper = new Swiper('.section-publications .swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 60,
            freeMode: true,
            observer: true,
            observeParents: true,
            observeSlideChildren: true,
            //220124
            navigation: {
                nextEl: '.swiper-button-next-pub',
                prevEl: '.swiper-button-prev-pub',
            },
            breakpoints: {
                992: {
                    spaceBetween: 20
                }
            }
        });

        var newsSwiper = new Swiper('.main-youtube-list .swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 60,
            freeMode: true,
            observer: true,
            observeParents: true,
            observeSlideChildren: true,
            navigation: {
                nextEl: '.swiper-button-next-youtube',
                prevEl: '.swiper-button-prev-youtube',
            },
            breakpoints: {
                992: {
                    spaceBetween: 20,
                }
            }
        });
    </script>

</body>

</html>