<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body class="body-main"> <!-- 메인에만 .body-main -->

    <div id="wrap">

        <%- include('../layout/_header.ejs')%>

        <div id="container-block">
            <main id="content" role="main">

                <div class="main">
                    <section class="section-top">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-6 order-2 order-lg-1">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="main-banner">
                                                <div class="swiper-container">
                                                    <div class="swiper-wrapper">
                                                        <div class="swiper-slide">
                                                            <div class="item"><a href=""><img src="../assets/images/main-banner-1.png" alt=""></a></div>
                                                        </div>
                                                        <div class="swiper-slide">
                                                            <div class="item"><a href=""><img src="../assets/images/main-banner-1.png" alt=""></a></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6 order-1 order-lg-2">
                                    <div class="search-area">
                                        <div class="search">
                                            <form action="">
                                                <fieldset>
                                                    <legend>SEARCH</legend>
                                                    <div class="input-wrap">
                                                        <input type="search" class="form-control" placeholder="Search Word">
                                                        <button type="button" aria-label="SEARCH"><i class="icon-search-white"></i></button>
                                                    </div>
                                                </fieldset>
                                            </form>
                                            <div class="tags">
                                                <a href="javascript:;">#Issue Paper</a>
                                                <a href="javascript:;">#MOU</a>
                                                <a href="javascript:;">#Abstract</a>
                                                <a href="javascript:;">#Report</a>
                                                <a href="javascript:;">#Seminars</a>
                                            </div>
                                        </div>
                                        <p class="greeting">
                                            GLOBAL GENDER EQUALITY <br>
                                            RESEARCH INSTITUTE, <br>
                                            LEADING AN INCLUSIVE SOCIETY
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-quick">
                        <div class="container">
                            <div class="card-wrap row m-b-30">
                                <div class="col-6 col-xl-3">
                                    <div class="card">
                                        <a href="" class="card-body">
                                            <div class="img"><img src="../assets/images/main-img-chart-1.svg" alt=""></div>
                                            <div class="tit">President’s <br>Office</div>
                                            <div class="more-view"><span>MORE VIEW</span></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-xl-3">
                                    <div class="card">
                                        <a href="" class="card-body">
                                            <div class="img"><img src="../assets/images/main-img-chart-2.svg" alt=""></div>
                                            <div class="tit">Research <br>Goal</div>
                                            <div class="more-view"><span>MORE VIEW</span></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-xl-3 m-t-10 mt-xl-0">
                                    <div class="card">
                                        <a href="" class="card-body">
                                            <div class="img"><img src="../assets/images/main-img-chart-3.svg" alt=""></div>
                                            <div class="tit">Gender Policy <br>in Korea</div>
                                            <div class="more-view"><span>MORE VIEW</span></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-6 col-xl-3 m-t-10 mt-xl-0">
                                    <div class="column-group">
                                        <div class="row flex-column">
                                            <div class="col">
                                                <div class="card bg-secondary">
                                                    <a href="" class="card-body">
                                                        <div class="tit">GSIS</div>
                                                        <div class="desc">Gender Statistics <br>Information System</div>
                                                        <div class="more-view"><span>MORE VIEW</span></div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="card bg-secondary">
                                                    <a href="" class="card-body">
                                                        <div class="tit">KLOWF</div>
                                                        <div class="desc">Korean Longitudinal Survey of Women and Familles</div>
                                                        <div class="more-view"><span>MORE VIEW</span></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-body">
                                    <div class="row row-60 align-items-center">
                                        <div class="col-12 col-lg-auto">
                                            <h2 class="tit">NOTICE</h2>
                                        </div>
                                        <div class="col-12 col-lg">
                                            <div class="main-notice">
                                                <div class="swiper-container">
                                                    <div class="swiper-wrapper">
                                                        <% for(var i = 0; i < 3; i++){ %>
                                                        <div class="swiper-slide">
                                                            <div class="item">
                                                                <a href="" class="tit">Statistical Handbook: Women in Korea 2020</a>
                                                                <span class="date">2021-08-21</span>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                    </div>
                                                    <div class="swiper-button-area">
                                                        <div class="swiper-button-prev"></div>
                                                        <div class="swiper-button-next"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-research">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-auto">
                                    <h2 class="title">Research Projects</h2>
                                </div>
                                <div class="col-12 col-lg">
                                    <div class="contents">
                                        <nav class="tab-custom">
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link active" data-toggle="tab" href="#t1-1" role="tab" aria-selected="true">Abstract</a>
                                                </li>
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link" data-toggle="tab" href="#t1-2" role="tab" aria-selected="false">Report</a>
                                                </li>
                                            </ul>
                                        </nav>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="t1-1" role="tabpanel">
                                                <ul class="text-dot">
                                                    <li>Statistical Handbook: Women in Korea 2019</li>
                                                    <li>Preparing Evaluation Standards for Non-consensual Sexual Acts - Research on Case…</li>
                                                    <li>Measures to Improve Support for Child and Youth Victims of Online Sexual Exploitation</li>
                                                    <li>Legislative Agendas on Women and Families for the 21th National Assembly</li>
                                                </ul>
                                            </div>
                                            <div class="tab-pane fade" id="t1-2" role="tabpanel">...</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-video">
                        <div class="container">
                            <div class="row row-60">
                                <div class="col-12 col-lg">
                                    <dl>
                                        <dt>VISION</dt>
                                        <dd>Global gender equality research institute, leading an inclusive society.</dd>
                                        <dt>ESTABLISHING OBJECTIVE</dt>
                                        <dd>Conduct comprehensive research on women’s issues and contribute to
                                            women’s social participation, welfare promotion and the development of
                                            women and nation by advancing women’s policy and fostering women’s
                                            ability and providing women’s information</dd>
                                        <dt>MISSION</dt>
                                        <dd>To contribute to the establishment of national gender equality policies for
                                            realization of gender-equal society and to the enhancement of citizen
                                            happiness.</dd>
                                    </dl>
                                </div>
                                <div class="col-12 col-lg">
                                    <div class="video">
                                        <video width="100%">
                                            <source src="../assets/images/2021_pr_video.mp4" type="video/mp4">
                                        </video>
                                        <div class="video-controller">
                                            <button type="button" class="btn-play"><span class="sr-only">play</span></button>
                                            <button type="button" class="btn-pause"><span class="sr-only">pause</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-publications">
                        <div class="container">
                            <div class="row justify-content-between">
                                <div class="col-auto">
                                    <h2 class="title">Publications</h2>
                                </div>
                                <div class="col-auto">
                                    <nav class="tab-custom">
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link active" data-toggle="tab" href="#t2-1" role="tab" aria-selected="true">Annual Report</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" data-toggle="tab" href="#t2-2" role="tab" aria-selected="false">Women in Korea : Gender Statistics</a>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <a class="nav-link" data-toggle="tab" href="#t2-3" role="tab" aria-selected="false">Seminar</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="t2-1" role="tabpanel">
                                    <div class="report-list">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <% for(var i = 0; i < 6; i++){ %>
                                                <div class="swiper-slide">
                                                    <a href="#none" class="item">
                                                        <div class="img">
                                                            <img src="https://eng.kwdi.re.kr/upload/editor/ECM014/ECM01420210615135313UQGQK.jpg" alt="">
                                                        </div>
                                                        <div class="tit">Statistical Handbook: Women in Korea 2020</div>
                                                        <div class="d-flex justify-content-between">
                                                            <div class="info">
                                                                <span>Date</span>
                                                                <i>2021-04-29</i>
                                                            </div>
                                                            <div class="info">
                                                                <span>Year</span>
                                                                <i>2021</i>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="t2-2" role="tabpanel">

                                </div>
                                <div class="tab-pane fade" id="t2-3" role="tabpanel">

                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-statistics">
                        <div class="container">
                            <h2 class="title">Statistics</h2>
                            <div class="row row-80">
                                <div class="col-12 col-lg-4">
                                    <div class="text">
                                        <strong>Gender Statistics at a Glance</strong>
                                        <p>For the realization of a gender-equal society in all the world Facilitate the connection of activists and proceed with the activity.</p>
                                        <em>Visiting Gender <br>Equality Support Organization</em>
                                        <a href="" class="btn btn-round btn-outline-primary btn-lg">VIEW</a>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col">
                                            <div class="donut"><img src="../assets/images/main-donut-1.svg" alt=""></div>
                                            <div class="info">
                                                <strong>80</strong><i>%</i>
                                                <p>Rate of female <br>social activity</p>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="donut"><img src="../assets/images/main-donut-2.svg" alt=""></div>
                                            <div class="info">
                                                <strong>75</strong><i>%</i>
                                                <p>intention to marry <br>single</p>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="donut"><img src="../assets/images/main-donut-3.svg" alt=""></div>
                                            <div class="info">
                                                <strong>75</strong><i>%</i>
                                                <p>Marriage <br>Satisfaction</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="section-board">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <h2 class="title">News</h2>
                                    <p class="desc">We bring you the news of the Korea Women’s Development Institute.</p>

                                    <div class="btns">
                                        <a href="" class="btn btn-dark btn-lg btn-round">MORE +</a>
                                        <div class="btn-swiper-pager">
                                            <button type="button" class="btn btn-outline-dark btn-lg btn-round swiper-button-prev-news" aria-label="이전"><i class="icon-arrow-left"></i></button>
                                            <button type="button" class="btn btn-outline-dark btn-lg btn-round swiper-button-next-news" aria-label="다음"><i class="icon-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="main-board-list">
                                        <div class="swiper-container">
                                            <div class="swiper-wrapper">
                                                <% for(var i = 0; i < 3; i++){ %>
                                                <div class="swiper-slide"> <!-- 이벤트 -->
                                                    <a href="#none" class="item" data-type="event">
                                                        <div class="img">
                                                            <img src="https://eng.kwdi.re.kr/upload/ECM032/ECM03220210929111921RLBIV.jpg" alt="">
                                                        </div>
                                                        <div class="tit">
                                                            Building Back Better and Women's Political Empowerment in Asia(Ⅰ)
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="swiper-slide"> <!-- 공지사항 -->
                                                    <a  href="#none" class="item" data-type="notice">
                                                        <div class="tit">
                                                            [KWDI Brief 60] Changes in Families due to the Covid-19 Pandemic and Policy Recommendations
                                                        </div>
                                                    </a>
                                                </div>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
        var visualSwiper = new Swiper('.main-visual .swiper-container', {
            loop: true,
            speed: 900,
            observer: true,
            observeParents: true,
            observeSlideChildren: true,
            autoplay: {
                delay: 5000,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            on: {
                slideChangeTransitionEnd: function () {
                    $('.main-visual .swiper-slide').removeClass('active');
                    $('.main-visual .swiper-slide-active').addClass('active');
                }
            }
        });

        var noticeSwiper = new Swiper('.main-notice .swiper-container', {
            direction: 'vertical',
            loop: true,
            observer: true,
            observeParents: true,
            observeSlideChildren: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 3500,
            },
        });

        var publicationsSwiper = new Swiper('.section-publications .swiper-container', {
            slidesPerView: 'auto',
            spaceBetween: 60,
            freeMode: true,
            observer: true,
            observeParents: true,
            observeSlideChildren: true,
            navigation: {
                nextEl: '.swiper-button-next-sites',
                prevEl: '.swiper-button-prev-sites',
            },
            breakpoints: {
                992: {
                    spaceBetween: 20
                }
            }
        });

        var newsSwiper = new Swiper('.main-board-list .swiper-container', {
            slidesPerView: 3,
            spaceBetween: 40,
            observer: true,
            observeParents: true,
            observeSlideChildren: true,
            navigation: {
                nextEl: '.swiper-button-next-news',
                prevEl: '.swiper-button-prev-news',
            },
            breakpoints: {
                1200: {
                    slidesPerView: 2,
                },
                992: {
                    slidesPerView: 'auto',
                    spaceBetween: 20,
                    freeMode: true,
                }
            }
        });
    </script>

</body>

</html>