<div id="footer-block">
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md order-2 order-md-1">
                    <div class="footer-info">
                        225 Jinheung-ro, Eunpyeong-gu, Seoul 03367. Korea <br>
                        Tel. 82.2.3156.7000 Fax. 82.2.3156.7007 Email. e_webmaster@kwdimail.re.kr
                    </div>
                    <div class="copyright">COPYRIGHT©2009 KOREAN WOMEN'S DEVELOPMENT INSTITUTE. ALL RIGHT RESERVED.</div>
                </div>
                <div class="col-12 col-md-auto order-1 order-md-2">
                    <div class="familysite">
                        <div class="row">
                            <div class="col col-md-auto">
                                <div class="dropdown">
                                    <button type="button" class="btn-open">Related agency <i></i><span class="sr-only">열기</span></button>
                                    <div class="site">
                                        <ul>
                                            <li><a href="http://www.mogef.go.kr/eng/index.do" target="_blank">MOGEF</a></li>
                                            <li><a href="http://song.unwomen.org/" target="_blank">UN Women</a></li>
                                            <li><a href="https://www.unescap.org/" target="_blank">UN Escap</a></li>
                                            <li><a href="http://www.oecd.org/" target="_blank">OECD</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col col-md-auto">
                                <div class="dropdown">
                                    <button type="button" class="btn-open">Family Sites <i></i><span class="sr-only">열기</span></button>
                                    <div class="site">
                                        <ul>
                                            <li><a href="https://gsis.kwdi.re.kr/gsis/en/main.html" target="_blank">Gender Statistics Information System</a></li>
                                            <li><a href="http://gb.kwdi.re.kr/en/index.jsp" target="_blank">Gender Budget Research Center</a></li>
                                            <li><a href="https://klowf.kwdi.re.kr/portal/eng/mainPage.do" target="_blank">Korean Longitudinal Survey of Women and Families</a></li>
                                            <li><a href="http://cidc.kwdi.re.kr/en/index.jsp" target="_blank">Center for International Development &amp; Cooperation</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="btn-top">
        <a href="#" role="button" aria-label="TOP"><i class="icon-top"></i></a>
    </div>
</div>
