<div id="header-block">
    <div id="header">
        <aside>
            <div class="container">
                <div class="d-flex align-items-center justify-content-between h-100">
                    <ul class="center">
                        <li><a href="../cidc/aboutEquality.html" target="_blank" class="text-secondary"><span class="d-none d-md-inline">Center for International Cooperation &amp; Development</span><span class="d-md-none">CIDC</span></a></li>
                    </ul>
                    <ul class="util">
                        <li><a targer="_blank" rel="noreferer" href="https://www.facebook.com/kwdipage">Facebook</a></li>
                        <li><a targer="_blank" rel="noreferer" href="https://www.youtube.com/user/KWDI2010">YouTube</a></li>
                        <li><a targer="_blank" rel="noreferer" href="https://blog.naver.com/kwdi1983">blog</a></li>
                        <li>
                            <div class="lang">
                                <a href="https://www.kwdi.re.kr/"><i class="fas fa-globe-asia"></i>KOR</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <header>
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <h1 class="logo">
                            <a href="../main/main.html">
                                <strong>KWDI</strong>
                                <span><i>Korean</i> Women’s Development Institute</span>
                            </a>
                        </h1>
                    </div>
                    <div class="col">
                        <nav class="gnb">
                            <ul class="dep1">
                                <li>
                                    <a href="../about/message.html" data-dep1="about"><span>About KWDI</span></a>
                                    <ul class="dep2">
                                        <li>
                                            <a href="../about/message.html" data-dep2="office">President`s Office</a>
                                            <ul class="dep3">
                                                <li><a href="../about/message.html" data-dep3="message">President`s Message</a></li>
                                                <li><a href="../about/biography.html" data-dep3="biography">Biography</a></li>
                                                <li><a href="../about/presidents.html" data-dep3="presidents">Previous Presidents</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../about/history.html" data-dep2="history">History</a></li>
                                        <li><a href="../about/vision.html" data-dep2="vision">Vision & Stategy</a></li>
                                        <li><a href="../about/organization.html" data-dep2="organization">Organization(Profile)</a></li>
                                        <li><a href="../about/goal.html" data-dep2="goal">Research Goal</a></li>
                                        <li><a href="../about/pr.html" data-dep2="pr">PR</a></li>
                                        <li><a href="../about/mou.html" data-dep2="mou">MOU</a></li>
                                        <li><a href="../about/direction.html" data-dep2="direction">Direction</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../publications/researchAbstract.html" data-dep1="publications"><span>Publications &amp; ISSUES</span></a>
                                    <ul class="dep2">
                                        <li>
                                            <a href="../publications/researchAbstract.html" data-dep2="research">Research Projects</a>
                                            <ul class="dep3">
                                                <li><a href="../publications/researchAbstract.html" data-dep3="abstract">Abstract</a></li>
                                                <li><a href="../publications/researchReport.html" data-dep3="report">Report</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="../isuues/issuePaperList.html" data-dep2="paper">Issue Paper</a></li>
                                        <li><a href="../isuues/kwdiBriefList.html" data-dep2="brief">KWDI Brief</a></li>
                                        <li><a href="../publications/annualList.html" data-dep2="annual">Annual Report</a></li>
                                        <li><a href="../publications/womenList.html" data-dep2="women">Women in Korea : Gender Statistics</a></li>
                                        <li><a href="../isuues/cardList.html" data-dep2="card">Card News</a></li>
                                        <li><a href="../publications/seminarsList.html" data-dep2="seminars">Seminars</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../news/pressList.html" data-dep1="news"><span>News</span></a>
                                    <ul class="dep2">
                                        <li><a href="../news/pressList.html" data-dep2="press">Press Release</a></li>
                                        <li><a href="../news/newsletterList.html" data-dep2="newsletter">News Letter</a></li>
                                        <li><a href="../news/eventList.html" data-dep2="events">Events</a></li>
                                        <li><a href="../news/videoList.html" data-dep2="videos">Videos</a></li>
                                        <li><a href="../news/photoList.html" data-dep2="photos">Photos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-auto">
                        <form action="../search/search.html" class="header-search">
                            <fieldset>
                                <legend>검색</legend>
                                <input type="search" name="q" class="form-control">
                                <button type="submit" class="header-search-btn" aria-label="SEARCH">
                                    <i class="icon-search"></i>
                                </button>
                            </fieldset>
                        </form>
                        <button type="button" class="btn-hamburger" aria-label="MENU">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                <defs>
                                    <style>
                                        .cls-1{fill:none;stroke:#fff;stroke-width:2px}
                                    </style>
                                </defs>
                                <g id="icon_menu" transform="translate(-1610 -62)">
                                    <g id="그룹_2580" data-name="그룹 2580" transform="translate(0 -.5)">
                                        <path id="선_17" data-name="선 17" class="cls-1" transform="translate(1610 73.5)" d="M0 0h30"/>
                                        <path id="선_18" data-name="선 18" class="cls-1" transform="translate(1610 82)" d="M0 0h30"/>
                                    </g>
                                    <path id="사각형_1772" data-name="사각형 1772" transform="translate(1610 62)" style="fill:none" d="M0 0h30v30H0z"/>
                                </g>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </header>
    </div>
</div>
<div class="sitemap-layer">
    <div class="container">
        <button type="button" aria-label="close" class="btn-sitemap-close"><i class="icon-x-white"></i></button>
        <nav class="sitemap">

        </nav>
    </div>
</div>