<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header_cidc.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="aboutCIDC" data-dep2="equality" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Strengthening Gender Equality</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <h3 class="sub-title-point mt-0">Project Objective</h3>
                    <ul class="text-dot">
                        <li>To build up infrastructure for gender equality through capacity development of local gender experts.</li>
                        <li>To develop gender policy module customized for each country’s stage of political, economic, and socio-cultural development</li>
                    </ul>
                    <h3 class="sub-title-point">Scope of Work</h3>
                    <div class="text-center">
                        <img src="../assets/images/img-cidc-equality.png" alt="">
                    </div>
                    <h3 class="sub-title-point">Expectations/ Outcomes</h3>
                    <ul class="text-dot">
                        <li>Development and implementation of developing countries’ local policy for women</li>
                        <li>Development of human resource and capacity for the improvement of local women’s policy and gender equality</li>
                        <li>Contributing to the establishment of a Korean-type aid model by developing locally-tailored women’s policy</li>
                        <li>Contributing to expanding aid effectiveness through gender sensistive approach</li>
                    </ul>
                    <div class="row justify-content-between align-items-center mt-6 mt-lg-7 mb-4 mb-lg-5">
                        <div class="col-auto">
                            <h3 class="sub-title-point mt-0 mb-0">Research Results</h3>
                        </div>
                        <div class="col-auto">
                            <select name="year" size="1" onchange="document.location.href='business.jsp?year='+ this.value" class="custom-select">
                                <option value="2013">2013 프로젝트</option>
                                <option value="2012">2012 프로젝트</option>
                                <option value="2011">2011 프로젝트</option>
                            </select>
                        </div>
                    </div>
                    <table class="table table-bordered" cellpadding="0" cellspacin="0" summary="2013 Project Title">
                        <caption>2013 Project Title</caption>
                        <colgroup><col width="20%"><col width=""></colgroup>
                        <tbody>
                            <tr>
                                <th scope="row"> Project Title</th>
                                <td><b>Establishment of Knowledge Sharing Platform</b></td>
                            </tr>
                            <tr>
                                <th scope="row">Research Findings</th>
                                <td><p><strong>Strengthening Gender Equality Policy Infrastructure in the Asia-Pacific Region(Ⅲ):Establishment of Knowledge Sharing Platform<br><br></strong>The importance of gender equality in development cooperation cannot be emphasized enough. Not only is it a significant goal itself, but is also an indispensible factor in reducing poverty and achieving other development goals―the very reason it was selected as one of the Millenium Development Goals(MDGs). <br>Against this backdrop, KWDI has been conducting a multi-year ODA research project since 2011, aimed at establishing a political and social infrastructure for gender-equal policy in the Asia-Pacific region. KWDI partnered with Cambodia and Indonesia for the first two years(2011-2012), and expanded the project to Myanmar and Vietnam from 2013. The current report is a compendium of this research project’s activities and programs for the year of 2013. <br>This report begins with an analysis of current status and policies of women in these two countries. To diagnose the current situation, an extensive review on academic literature and policy documents has been carried out. In addition, a baseline survey on gender-related situation and demands was conducted. The survey was completed by public officials, academicians, women’s NGO practitioners and international organization staff in both countries. <br>Based on the needs identified from the literature review and baseline survey, KWDI designed and hosted the SSAGE(Set and Share the Agenda for Gender Equality) Workshop in September 2013. The SSAGE Workshop aimed at finessing policy-making skills of the participants and exploring gender-equal policy options in the two countries. This five-day workshop was composed of core lectures and elective sessions. Elective sessions were meticulously designed after reflecting the needs identified from the baseline survey and from the participants. The session themes included women’s political participation, women’s economic participation, women’s education, women’s human rights and women’s health. The most essential part of the SSAGE Workshop was the session designed to draft a project proposal. Each participant had a chance to choose an issue of his/her interest and developed it into a full-fledged suggestion.<br>Regarding the continuing partner countries, KWDI conducted a mid-term evaluation survey with the Cambodian and Indonesian participants of the 2011 capacity-building workshop. This is to track and monitor any progress made in their perspective and practices on gender equality. The survey traced the difference between “before” and “after” the workshop. Some positive changes from the participants were noted. <br>As a conclusion, this report provides a comprehensive analysis on the strengths and weaknesses of women’s policies in four partner countries-Cambodia, Indonesia, Myanmar and Vietnam. It also develops a model to establish a knowledge-sharing platform. By offering a list of possible gender-related projects that are recipient oriented, this report urges for gender mainstreaming in South Korea’s ODA system. </p></td>
                            </tr>
                            <tr>
                                <th scope="row">Activities</th>
                                <td><p>● 2013 KWDI SSAGE Workshop: Capacity Building for Women's Policy of Maynmar and Vietnam (Sept. 9 ~ 13)</p>
<p>●Gender &amp; ODA Forums<br>● Preliminary research on local needs and local consultation meetings with women's policy experts in Myanmar and Vietnam<br>● Monitoring&nbsp;on the first phase project in partnership with Cambodia and Indonesia<br>&nbsp;</p>
<p>&nbsp;</p></td>
                            </tr>

                            <tr>
                                <th scope="row">Paper(s)</th>
                                <td>？</td>
                            </tr>

                        </tbody>
                    </table>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>