<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header_cidc.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="aboutCIDC" data-dep2="overview" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Overview &amp; Strategy</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="bg-animation">
                    <div class="container">
                        <span class="obj-2" data-0-start="top:0px;" data-0-end="top:-100px;"></span>
                        <span class="obj-3" data-350-start="left:45%;" data-0-end="left:35%;"></span>
                    </div>
                </div>
                <div class="container">
                    <h3 class="sub-title">Overview</h3>
                    <div class="cidc-overview">



                    </div>

                    <h3 class="sub-title mt-6">Strategy</h3>
                    <h3 class="sub-title mt-6">Contact Us</h3>
                    <div class="direction">
                        <h3 class="mb-3">About us</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="text-center">Position</th>
                                    <th class="text-center">Name</th>
                                    <th class="text-center">Department</th>
                                    <th class="text-center">Telephone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center">Director</td>
                                    <td class="text-center">Chang, Eun Ha</td>
                                    <td class="text-center">Research Fellow</td>
                                    <td class="text-center">+82-2-3156-7064</td>
                                </tr>
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center">Hye Seung Cho.</td>
                                    <td class="text-center">Associate Research Fellow</td>
                                    <td class="text-center">+82-2-3156-7224</td>
                                </tr>
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center">Jiso Yoon.</td>
                                    <td class="text-center">Associate Research Fellow</td>
                                    <td class="text-center">+82-2-3156-7169</td>
                                </tr>
                                <tr>
                                    <td class="text-center"></td>
                                    <td class="text-center">Yoonjung Park.</td>
                                    <td class="text-center">Researcher</td>
                                    <td class="text-center">+82-2-3156-7055</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="info row mt-9">
                            <div class="col-12 col-lg-auto">
                                <h3 class="mr-5">ADDRESS</h3>
                            </div>
                            <div class="col-12 col-lg">
                                <address>225 Jinheung-ro, Eunpyeong-gu, Seoul, 122-707, Korea</address>
                                <span class="tel">Tel. 82-2-3156-7000 / Fax. 82-2-3156-7007</span>
                            </div>
                        </div>
                        <div class="transportation row row-80">
                            <div class="col-12 col-lg">
                                <dl class="subway">
                                    <dt><span>Subway</span></dt>
                                    <dd>
                                        Bulgwang station (Line No.3 and 6). Take exit 2 and walk 300m in the direction of Gugi Tunnel. KWDI is on the left.
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-12 col-lg">
                                <dl class="bus">
                                    <dt><span>Bus</span></dt>
                                    <dd>
                                        Bulgwangdong stop. Walk 300m in the direction of Gugi Tunnel. KWDI is on the left.
                                    </dd>
                                </dl>
                            </div>
                            <div class="col-12 col-lg">
                                <dl class="car">
                                    <dt><span>Car</span></dt>
                                    <dd>
                                        At Bulgwang station intersection, drive towards Gugi Tunnel for 300m. Make a U-turn in front of the Korea Institute for Health and Social Affairs to enter KWDI.
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>