<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header_cidc.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="publicationsCIDC" data-dep2="others" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Others</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <table class="table table-view">
                        <colgroup>
                            <col width="140">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th class="text-left tit" colspan="2">The 9th Asia-Pacific Forum on Development and Gender</th>
                            </tr>
                            <tr>
                                <th class="text-left">Title</th>
                                <td class="text-left">Gender and Sustainable Development Goals (SDGs): Regional and National Perspectives</td>
                            </tr>
                            <tr>
                                <th class="text-left">Time & Venue</th>
                                <td class="text-left">Tuesday, July 4, 2017/ Korea Press Center, Seoul</td>
                            </tr>
                            <tr>
                                <th class="text-left">Hosted by</th>
                                <td class="text-left">Korean Women's Development Institute</td>
                            </tr>
                            <tr>
                                <th class="text-left">Resource</th>
                                <td class="text-left">
                                    <a href="" class="text-underline">[편집] The 9th Asia-Pacific Forum on Development and Gender.pdf </a> ( 223.43 KB )
                                </td>
                            </tr>
                            <tr>
                                <td class="text-left" colspan="2">
                                    <div class="viewwrap">

                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right mt-5">
                        <a href="" class="btn btn-primary btn-lg">RETURN</a>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>