<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header_cidc.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="publicationsCIDC" data-dep2="others" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">Others</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <div class="ic-container">
                        <form id="id_searchForm" name="searchForm" method="GET" action="pressList.do">
                            <input type="hidden" id="id_s" name="s" value="searchAll" />
                            <fieldset>
                                <legend>SEARCH</legend>
                                <div class="board-search">
                                    <div class="row row-10">
                                        <div class="col">
                                            <input type="text" id="lbl3" name="w" value="${defaultVO.w }" class="form-control form-control-lg" placeholder="KEYWORDS">
                                        </div>
                                        <div class="col-auto">
                                            <button type="submit" class="btn btn-lg btn-gray">SEARCH</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="count">
                            <span>Total</span>
                            <i>6</i>
                            <span>Page</span>
                            <i>1</i>
                        </div>
                        <table class="table no-responsive">
                            <colgroup>
                                <col style="width: 9%">
                                <col>
                                <col style="width: 14%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th class="text-center">Title</th>
                                    <th class="text-center">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center text-color-down">
                                        1
                                    </td>
                                    <td class="text-left">
                                         <a href="">
                                             Building Back Better and Women’s Political Empowerment in Asia(II): Women’s Political Representation and Reserved
                                             Seats/Political Party Quotas in the Indo-Pacific Region
                                         </a>
                                    </td>
                                    <td class="text-center text-color-down">
                                     9 December 2021
                                    </td>
                                 </tr>
                                 <tr>
                                     <td class="text-center text-color-down">
                                        2
                                     </td>
                                     <td class="text-left">
                                         <a href="">
                                            Online-debate on Online Gender-Based Violence
                                         </a>
                                     </td>
                                     <td class="text-center text-color-down">
                                        26 November 2021
                                     </td>
                                  </tr>
                                  <tr>
                                    <td class="text-center text-color-down">
                                      3
                                    </td>
                                    <td class="text-left">
                                        <a href="">
                                            Humanitarian Challenges and Gendered Impact: Vulnerabilities and Capabilities of Women and Children in DPRK
                                        </a>
                                    </td>
                                    <td class="text-center text-color-down">
                                        28 October 2021
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="text-center text-color-down">
                                      4
                                    </td>
                                    <td class="text-left">
                                        <a href="">
                                            Building Back Better and Women’s Political Empowerment in Asia(I): Candidate Gender Quotas and Women’s Political Representation
                                        </a>
                                    </td>
                                    <td class="text-center text-color-down">
                                        30 September 2021
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="text-center text-color-down">
                                      5
                                    </td>
                                    <td class="text-left">
                                        <a href="">
                                            Korea launch of the State of World Population Report 2021
                                        </a>
                                    </td>
                                    <td class="text-center text-color-down">
                                        28 October 2021
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="text-center text-color-down">
                                       6
                                    </td>
                                    <td class="text-left">
                                        <a href="">
                                            Beijing and Beyond: Creating Gender Equal Future with the Next Generation
                                        </a>
                                    </td>
                                    <td class="text-center text-color-down">
                                        30 September 2021
                                    </td>
                                 </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>