<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header_cidc.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="workshop" data-dep2="nepal" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">SSAGE Workshop(2011-2017)</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <div class="ic-container">
                        <strong class="h-text">Overview</strong>
                        <div class="row row-60">
                            <div class="col-12 col-lg">
                                <p class="text text-color-navy">
                                    KWDI Workshop: Capacity Building for Women`s Policy
                                </p>
                                <p class="text m-t-30">
                                    Set and Share the Agenda for Gender Equality (SSAGE) Workshop (Annual Capacity Building Workshop for Policy Experts from Cambodia, Indonesia, Myanmar and Vietnam)
                                </p>
                            </div>
                            <div class="col-12 col-lg mt-5 mt-lg-0">
                                <img src="/assets/images/ssage01.png" alt="">
                            </div>
                        </div>

                        <div class="desc">
                            <h3 class="sub-title-point">Objectives</h3>
                            <ul class="dot-list">
                                <li>• To strengthen the capacity of gender policy experts in the Asia-Pacific region (Asia and the Pacific region)</li>
                                <li>• To enhance policymakers and gender experts’ sensitivity on gender equality and to expand their capacity to improve women’s policy.</li>
                                <li>• To establish a local policy network for women’s policy</li>
                            </ul>
                        </div>
                        <div class="desc">
                            <h3 class="sub-title-point">Key Features</h3>
                            <ul class="dot-list">
                                <li>• It is tailored to local needs based on the results of preliminary research and local consultation meetings on women’s policy.</li>
                                <li>• It mainly consists of core courses and elective courses by topic, and it is designed to make participants actively engaged in-depth discussions among themselves as well as with Korean experts in each field.</li>
                                <li>• It is participant-oriented/ interactive learning process</li>
                            </ul>
                        </div>
                        <div class="desc">
                            <h3 class="sub-title-point">Workshop Program</h3>
                            <ul class="dot-list">
                                <li>The Workshop program is tailored to local needs based on the results of preliminary research and local consultation meetings on women's policy. It mainly consists of core courses and elective courses by topic, and it is designed to make participants actively engaged in in-depth discussions among themselves and build close policy network for women's policy among themselves  during the workshop so that they can put the plans in practice in their own countries. </li>
                            </ul>
                        </div>

                        <div class="workshop-txt">
                            <div class="workshop-txt__img">
                                <img src="/assets/images/workshop-img-01.png" alt="">
                            </div>
                            <p class="text text-color-down">
                                As a part of multi-year ODA research project titled “Strengthening Gender Equality Policy Infrastructure in<br class="hidden-mobile">
                                the Asia-Pacific Region,” KWDI annually holds an annual week-long workshop titled Set and Share the <br class="hidden-mobile">
                                Agenda for Gender Equality focusing on capacity building of the participants through lectures and field<br class="hidden-mobile">
                                trips on gender issues.
                            </p>
                        </div>
                        <h3 class="sub-title-point none-ic">KWDI SSAGE Workshop Title, Duration and Venue, and Participants</h3>
                        <table class="table no-responsive border">
                            <thead>
                                <tr>
                                    <th style="width:13%;" class="text-center">Year</th>
                                    <th style="width:26%;" class="text-center">Title</th>
                                    <th style="width:17%;" class="text-center">Duration & Venue</th>
                                    <th style="width:44%;" class="text-center">Participants</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-center text-color-down">2011</td>
                                    <td class="text-left">
                                        <div>
                                            2011 KWDI SSAGE Workshop: <br class="hidden-mobile">
                                            Capacity Building for Women’s Policy of Cambodia and Indonesia

                                        </div>
                                    </td>
                                    <td class="text-left">September 18- 30, 2011,<br class="hidden-mobile">
                                        KWDI, Seoul, Korea</td>
                                    <td class="text-left">27 participants in total (14 Cambodian participants and 13 Indonesian participants from Indonesia consisting of government officials and experts from civil society and academia)</td>
                                </tr>

                                <tr class="gray-bg">
                                    <td class="text-center text-color-down" rowspan="2">2012</td>
                                    <td class="text-left">
                                        <div>
                                            2012 KWDI SSAGE Workshop in Cambodia:<br class="hidden-mobile">
                                            Capacity Building for Gender Equality & Women’s Policy
                                        </div>
                                    </td>
                                    <td class="text-left">
                                        May 8-11, 2012,<br class="hidden-mobile">
                                        Siem Reap, Cambodia
                                    </td>
                                    <td class="text-left">32 participants from government, civil society and academia including Secretary of State from the Ministry of Women’s Affairs of Cambodia</td>
                                </tr>
                                <tr class="gray-bg">
                                    <td class="text-left">
                                        <div>
                                            2012 KWDI SSAGE Workshop in Indonesia:<br class="hidden-mobile"> Capacity Building for Gender Equality & Women’s Policy

                                        </div>
                                    </td>
                                    <td class="text-left">May 29-June 1, 2012,<br class="hidden-mobile">
                                        Bali, Indonesia
                                    </td>
                                    <td class="text-left">34 participants from government, civil society and academia</td>
                                </tr>
                                <tr>
                                    <td class="text-center text-color-down">2013</td>
                                    <td class="text-left">
                                        <div>
                                            2013 KWDI SSAGE Workshop:<br class="hidden-mobile">
                                            Capacity Building for Women’s Policy in Myanmar and Vietnam
                                        </div>
                                    </td>
                                    <td class="text-left">September 9-13, 2013,<br class="hidden-mobile">
                                        KWDI, Seoul, Korea</td>
                                    <td class="text-left">28 participants in total (14 Myanmar participants and 14
                                        Vietnamese participants consisting of government officials and experts from civil society, academia and international organizations)</td>
                                </tr>
                                <tr class="gray-bg">
                                    <td class="text-center text-color-down">2014</td>
                                    <td class="text-left">
                                        <div>
                                            2014 KWDI SSAGE Workshop:<br class="hidden-mobile">
                                            Senior-Level Gender Policy Workshop and Dialogue

                                        </div>
                                    </td>
                                    <td class="text-left">September 29 -October 3,<br class="hidden-mobile">
                                        2014, KWDI, Seoul, Korea
                                    </td>
                                    <td class="text-left">25 senior-level officials in total (6 Cambodian participants; 7 Indonesian participants; 6 Myanmar participants; and 6 Vietnam participants from Parliament, Government, Governmental bodies, etc.)</td>
                                </tr>
                                <tr>
                                    <td class="text-center text-color-down">2015</td>
                                    <td class="text-left">
                                        <div>
                                            2015 KWDI SSAGE Workshop:<br class="hidden-mobile">
                                            trengthening Inter-Ministerial Gender Network
                                        </div>
                                    </td>
                                    <td class="text-left">October 6-October 8, 2015,<br class="hidden-mobile">
                                        KWDI, Seoul, Korea
                                    </td>
                                    <td class="text-left">18 government officials in total (5 Cambodian participants; 3 Indonesian participants; 5 Myanmar participants; and 5 Vietnamese participants from each country’s gender ministry and other line ministries)</td>
                                </tr>
                                <tr class="gray-bg">
                                    <td class="text-center text-color-down">2016</td>
                                    <td class="text-left">
                                        <div>
                                            2016 KWDI SSAGE Workshop:<br class="hidden-mobile">
                                            Women’s Economic Empowerment and Human Rights
                                        </div>
                                    </td>
                                    <td class="text-left">September 26-Octoer 1, 2016,<br class="hidden-mobile"> KWDI, Seoul, Korea</td>
                                    <td class="text-left">23 participants in total (6 Cambodian participants;
                                        5 Indonesian participants; 6 Myanmar participants; and 6 Vietnamese participants)</td>
                                </tr>
                                <tr>
                                    <td class="text-center text-color-down">2017</td>
                                    <td class="text-left">
                                        <div>
                                            2017 KWDI SSAGE Workshop:<br class="hidden-mobile"> Empowerment of Girls and Young Women
                                        </div>
                                    </td>
                                    <td class="text-left">September 4-9, 2017,<br class="hidden-mobile">
                                        KWDI, Seoul, Korea
                                    </td>
                                    <td class="text-left">29 participants in total (8 Cambodian participants;
                                        7 Indonesian participants; 7 Myanmar participants; and 7 Vietnamese participants)
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>