<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header_cidc.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="workshop" data-dep2="ssage" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">아태사업 워크숍(SSAGE)</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <table class="table table-view">
                        <colgroup>
                            <col width="140">
                            <col>
                        </colgroup>
                        <tbody>
                            <tr>
                                <th class="text-left tit" colspan="2">2016 KWDI SSAGE Workshop</th>
                            </tr>
                            <tr>
                                <th class="text-left">Date</th>
                                <td class="text-left">2017-01-01</td>
                            </tr>
                            <tr>
                                <td class="text-left" colspan="2">
                                    <div class="viewwrap">
                                        <div class="cont">

                                            <center><a href="javascript:void(0);" onclick="window.open('/en/inc/popImg.jsp?imgdt=/upload/photo/20170105102232_3104.jpg', '_pop', 'width=100, height=100,status=no');" title="new window"><img src="https://cidc.kwdi.re.kr/upload/photo/20170105102232_3104.jpg" id="bodyImg1" onload="imageResize(document.getElementById('bodyImg1'), '/upload/photo/20170105102232_3104.jpg');" alt="" width="600" height="399"></a></center><br>

                                            <center><a href="javascript:void(0);" onclick="window.open('/en/inc/popImg.jsp?imgdt=/upload/photo/20170105102248_3336.jpg', '_pop', 'width=100, height=100,status=no');" title="new window"><img src="https://cidc.kwdi.re.kr/upload/photo/20170105102248_3336.jpg" id="bodyImg2" onload="imageResize(document.getElementById('bodyImg2'), '/upload/photo/20170105102248_3336.jpg');" alt="" width="600" height="399"></a></center><br>

                                            <center><a href="javascript:void(0);" onclick="window.open('/en/inc/popImg.jsp?imgdt=/upload/photo/20170105102256_4547.jpg', '_pop', 'width=100, height=100,status=no');" title="new window"><img src="https://cidc.kwdi.re.kr/upload/photo/20170105102256_4547.jpg" id="bodyImg3" onload="imageResize(document.getElementById('bodyImg3'), '/upload/photo/20170105102256_4547.jpg');" alt="" width="600" height="399"></a></center><br>

                                            <center><a href="javascript:void(0);" onclick="window.open('/en/inc/popImg.jsp?imgdt=/upload/photo/20170105102322_6330.jpg', '_pop', 'width=100, height=100,status=no');" title="new window"><img src="https://cidc.kwdi.re.kr/upload/photo/20170105102322_6330.jpg" id="bodyImg4" onload="imageResize(document.getElementById('bodyImg4'), '/upload/photo/20170105102322_6330.jpg');" alt="" width="600" height="399"></a></center><br>

                                            <center><a href="javascript:void(0);" onclick="window.open('/en/inc/popImg.jsp?imgdt=/upload/photo/20170105102343_1690.jpg', '_pop', 'width=100, height=100,status=no');" title="new window"><img src="https://cidc.kwdi.re.kr/upload/photo/20170105102343_1690.jpg" id="bodyImg5" onload="imageResize(document.getElementById('bodyImg5'), '/upload/photo/20170105102343_1690.jpg');" alt="" width="600" height="399"></a></center><br>
                <br><br>
                                            2016 KWDI SSAGE Workshop
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right mt-5">
                        <a href="" class="btn btn-primary btn-lg">RETURN</a>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>