<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include('../layout/_head.ejs')%>
</head>

<body>

    <div id="wrap">

        <%- include('../layout/_header_cidc.ejs')%>

        <div id="container-block">
            <main id="content" role="main" data-dep1="workshop" data-dep2="nepal" data-dep3="">

                <div class="sub-visual">
                    <div class="container">
                        <h2 class="page-title">in Nepal(2021-2022)</h2>
                    </div>
                </div>
                <%- include('../layout/_location.ejs')%>
                <div class="container">
                    <div class="ic-container">
                        <strong class="h-text">Overview</strong>
                        <div class="row row-60">
                            <div class="col-12 col-lg">
                                <p class="text text-color-navy">
                                	KWDI Workshop: Capacity Building for Women`s Policy 
                                </p>
                                <p class="text m-t-30">
                                	Capacity Building for Local Government Officials for Establishing Gender-sensitive Education Environment in Nepal (2021-2022)
                                </p>
                                <p class="text m-t-40">
                                    KWDI is currently conducting a two-year capacity building program for local government officials in Nepal funded by Korean International Cooperation Agency(KOICA). This program is based on a projects commissioned by the Ministry of Education: Needs assessment for establishing gender-sensitive learning environment in Nepal(2018) and Development of Training Program and Education Modules for Local Government’s Capacity Building on Gender-sensitive Education in Nepal(2019). The first year’s workshop title, duration and venue, and participants are summarized in the table below.
                                </p>
                            </div>
                            <div class="col-12 col-lg mt-5 mt-lg-0">
                                <img src="/assets/images/img-intro-03.png" alt="">
                            </div>
                        </div>
                        <h3 class="sub-title-point none-ic">Capacity Building for Local Government Officials for Establishing Gender -<br>sensitive Education Environment in Nepal</h3>
                        <table class="table no-responsive">
                            <thead>
                                <tr>
                                    <th style="width:16%;" class="text-center">Year</th>
                                    <th style="width:28%;" class="text-center">Title</th>
                                    <th style="width:28%;" class="text-center">Duration & Venue</th>
                                    <th style="width:28%;" class="text-center">Participants</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-center text-color-down">2021</td>
                                    <td class="text-left text-color-down">
                                        <div>
                                            Capacity Building for Local <br class="hidden-mobile">
                                            Government Officials for Establishing<br class="hidden-mobile">
                                            Gender-sensitive Education<br class="hidden-mobile">
                                            Environment in Nepal (2021-2022)
                                        </div>
                                    </td>
                                    <td class="text-left">September 13 -17, 2021, KWDI, Online</td>
                                    <td class="text-left">21 participants in Total (Nepal government officials)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </main>
        </div>

        <%- include('../layout/_footer.ejs')%>

    </div>


    <script>
    </script>

</body>

</html>